# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

privatebrowsingpage-open-private-window-label = Ubrir una finestra privada
    .accesskey = p
about-private-browsing-search-placeholder = Buscar en o web
about-private-browsing-info-title = Yes en una finestra privada
about-private-browsing-search-btn =
    .title = Mirar en o web
# Variables
#  $engine (String): the name of the user's default search engine
about-private-browsing-handoff =
    .title = Mira con { $engine } u escribe una adreza
about-private-browsing-handoff-no-engine =
    .title = Mirar u escribir una adreza
# Variables
#  $engine (String): the name of the user's default search engine
about-private-browsing-handoff-text = Mira con { $engine } u escribe una adreza
about-private-browsing-handoff-text-no-engine = Mirar u escribir adreza
about-private-browsing-not-private = Agora no ye en una finestra privada.

## The following strings will be used for experiments in Fx99 and Fx100

# This string is the title for the banner for search engine selection
# in a private window.
# Variables:
#   $engineName (String) - The engine name that will currently be used for the private window.
about-private-browsing-search-banner-title = { $engineName } ye lo motor de busqueda per defecto en as finestras privadas
about-private-browsing-search-banner-description =
    { PLATFORM() ->
        [windows] Pa triar unatro motor de busqueda, ves ta las <a data-l10n-name="link-options">Opcions</a>
       *[other] Pa triar unatro motor de busqueda, ves ta las <a data-l10n-name="link-options">Preferencias</a>
    }
about-private-browsing-search-banner-close-button =
    .aria-label = Zarrar

