# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

privatebrowsingpage-open-private-window-label = एक खाजगी पटल उघडा
    .accesskey = P
about-private-browsing-search-placeholder = वेबवर शोधा
about-private-browsing-info-title = आपण एका खाजगी पटलामध्ये आहात
about-private-browsing-not-private = आपण सध्या खाजगी पटलात नाही.

## The following strings will be used for experiments in Fx99 and Fx100

# This string is the title for the banner for search engine selection
# in a private window.
# Variables:
#   $engineName (String) - The engine name that will currently be used for the private window.
about-private-browsing-search-banner-title = खाजगी पटलात आपले शोध इंजिन { $engineName } आहे
about-private-browsing-search-banner-description =
    { PLATFORM() ->
        [windows] एखादे वेगळे शोध इंजिन निवडण्यासाठी <a data-l10n-name="link-options">पर्याय</a> वर जा
       *[other] एखादे वेगळे शोध इंजिन निवडण्यासाठी <a data-l10n-name="link-options">प्राधान्य</a> वर जा
    }
about-private-browsing-search-banner-close-button =
    .aria-label = बंद करा

