# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

# The title of the experiment should be kept in English as it may be referenced
# by various online articles and is technical in nature.
experimental-features-css-masonry2 =
    .label = CSS: Masonry Layout
experimental-features-css-masonry-description = Tio ĉi aktivigas la subtenon de la eksperimenta trajto CSS Masonry Layout. Vidu la <a data-l10n-name="explainer">klarigon</a> por altnivela priskribo de la trajto. Se vi volas opinii, bonvolu komenti en <a data-l10n-name="w3c-issue">tiu ĉi problemo de GitHub</a> aŭ en <a data-l10n-name="bug">tiu ĉi eraro</a>.
# The title of the experiment should be kept in English as it may be referenced
# by various online articles and is technical in nature.
experimental-features-web-gpu2 =
    .label = Web API: WebGPU
experimental-features-web-gpu-description2 = Tiu nova API provizas malaltnivelan subtenon por kalkuloj kaj montro de grafikaĵoj faritaj de <a data-l10n-name="wikipedia">grafika procesoro (GPU)</a> en la aparato aŭ komputilo de la uzanto. La <a data-l10n-name="spec">specifo</a> estas ankoraŭ prilaborata. Vizitu la <a data-l10n-name="bugzilla">problemon 1602129</a> por havi pli da informo.
# The title of the experiment should be kept in English as it may be referenced
# by various online articles and is technical in nature.
experimental-features-media-jxl =
    .label = Media: JPEG XL
experimental-features-media-jxl-description = Se tiu ĉi trajto estas aktiva, { -brand-short-name } subtenas la dosierformon JPEG XL (JXL). Temas pri plibonigita bilda dosierformo, kiu subtenas senperdan transiron el tradiciaj JPEG dosieroj. Vizitu <a data-l10n-name="bugzilla">la erarraporton 1539075</a> por havi pli da informo.
# The title of the experiment should be kept in English as it may be referenced
# by various online articles and is technical in nature.
experimental-features-css-constructable-stylesheets =
    .label = CSS: Constructable Stylesheets
experimental-features-css-constructable-stylesheets-description = La aldono de konstruilo al la fasado de <a data-l10n-name="mdn-cssstylesheet">CSSStyleSheet</a>, kune kun pluraj aliaj rilataj ŝanĝoj, ebligas la senperan kreadon de novaj stilfolioj sen devi aldoni la stilfolion al la HTML kodo. Tio ĉi faciligas multe la kreadon de reuzeblaj stilfolioj por uzo kun <a data-l10n-name="mdn-shadowdom">Shadow DOM</a>. Vizitu la <a data-l10n-name="bugzilla">problemon 1520690</a> por havi pli da informo.
experimental-features-devtools-compatibility-panel =
    .label = Iloj por programistoj: kongrueca panelo
experimental-features-devtools-compatibility-panel-description = Flanka panelo por la inspektilo de paĝo, kiu montras detalajn informojn pri la interretumila kongrueco de via programo. Vizitu la <a data-l10n-name="bugzilla">problemon 1584464</a> por havi pli da informoj.
# Do not translate 'SameSite', 'Lax' and 'None'.
experimental-features-cookie-samesite-lax-by-default2 =
    .label = Kuketoj: SameSite=Lax estas la normo
experimental-features-cookie-samesite-lax-by-default2-description = Norme pritrakti kuketojn kiel “SameSite=Lax” se neniu atributo “SameSite” estas specifita. Programistoj devas elekti la nunan faktan koduton, senliman uzon, per malimplicita difino de “SameSite=None”.
# Do not translate 'SameSite', 'Lax' and 'None'.
experimental-features-cookie-samesite-none-requires-secure2 =
    .label = Kuketoj: SameSite=None postulas la atributon secure
experimental-features-cookie-samesite-none-requires-secure2-description = Kuketoj kun “SameSite=None” postulas la atributon secure. Tiu ĉi trajto postulas “Kuketoj: SameSite=Lax estas la normo”.
# about:home should be kept in English, as it refers to the the URI for
# the internal default home page.
experimental-features-abouthome-startup-cache =
    .label = about:home komenca staplo
experimental-features-abouthome-startup-cache-description = Staplo por la komenca dokumento about:home, kiu estas norme ŝargita komence. La celo de tiu ĉi staplo estas plibonigi la efikecon de starto.
# The title of the experiment should be kept in English as it may be referenced
# by various online articles and is technical in nature.
experimental-features-cookie-samesite-schemeful =
    .label = Cookies: Schemeful SameSite
experimental-features-cookie-samesite-schemeful-description = Pritrakti kuketojn el la sama nomrego, sed kun malsamaj skemoj (ekzemple http://example.com kaj https://example.com) kiel interretejajn anstataŭ samretejajn. Tio plibonigas sekurecon, sed povus eventuale misfukciigi aferojn.
# "Service Worker" is an API name and is usually not translated.
experimental-features-devtools-serviceworker-debugger-support =
    .label = Iloj por programistoj: senerarigo de Service worker
# "Service Worker" is an API name and is usually not translated.
experimental-features-devtools-serviceworker-debugger-support-description = Tio ĉi aktivigas eksperimentan subtenon de Service workers en la erarserĉila panelo. Tiu ĉi trajto povas malrapidigi la ilojn por programistoj kaj uzi pli da memoro.
# WebRTC global mute toggle controls
experimental-features-webrtc-global-mute-toggles =
    .label = Ŝalti/malŝalti sonon WebRTC ĉie
experimental-features-webrtc-global-mute-toggles-description = Aldoni regilojn al la ĉiea indikilo pri dividi de WebRTC, kiu permesas al uzantoj malaktivigi siajn mikrofonojn kaj fimilojn ĉie.
# JS JIT Warp project
experimental-features-js-warp =
    .label = JavaScript JIT: Warp
experimental-features-js-warp-description = Aktivigi Warp, kiu estas projekto por plibonigi la efikecon kaj memoruzon de JavaScript.
# Search during IME
experimental-features-ime-search =
    .label = Adresa strio: montri rezultojn dum komponado IME
experimental-features-ime-search-description = IME (redaktilo de eniga metodo) estas ilo, kiu permesas al vi, pere de normala klavaro, tajpi malsimplajn signojn, kiel la uzatajn en la skribataj lingvoj de orienta Azio aŭ Barato. Se vi ŝaltas tiun ĉi eksperimenton, la adresa strio restos malfermita dum vi uzas IME por tajpi ion. Notu ke IME povus montri panelon kiu kovras la rezultojn de la adresa strio, tial tiu ĉi prefero estas sugestita por la IME, kiuj ne uzas tiajn panelojn.
# Text recognition for images
experimental-features-text-recognition =
    .label = Rekono de teksto
experimental-features-text-recognition-description = Aktivigi funkciojn por rekoni tekston en bildoj.
