# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

privatebrowsingpage-open-private-window-label = Ldi asfaylu uslig
    .accesskey = s
about-private-browsing-search-placeholder = Nadi di Web
about-private-browsing-info-title = Deg usfaylu uslig i telliḍ tura
about-private-browsing-search-btn =
    .title = Nadi di web
# Variables
#  $engine (String): the name of the user's default search engine
about-private-browsing-handoff =
    .title = Nadi s { $engine } neɣ sekcem tansa
about-private-browsing-handoff-no-engine =
    .title = Nadi neɣ sekcem tansa
# Variables
#  $engine (String): the name of the user's default search engine
about-private-browsing-handoff-text = Nadi s { $engine } neɣ sekcem tansa
about-private-browsing-handoff-text-no-engine = Nadi neɣ sekcem tansa
about-private-browsing-not-private = Mačči deg usfaylu uslig i telliḍ tura.
about-private-browsing-info-description-private-window = Asfaylu uslig: { -brand-short-name } iseffeḍ anadi-inek·inem d uzray n tunigin mi ara tmedleḍ akk isfuyla usligen. Aya ur ak·akem-yettarra ara d t·udrig·t.
about-private-browsing-info-description-simplified = { -brand-short-name } iseffeḍ anadi-inek·inem d uzray n tunigin mi ara tmedleḍ akk isfuyla usligen, maca aya ur ak·akem-yettarra ara d t·udrig·t.
about-private-browsing-learn-more-link = Issin ugar

about-private-browsing-hide-activity = Ffer armud-ik·im d wadig, anida akk i tettinigeḍ
about-private-browsing-get-privacy = Sεu ammesten n tbaḍnit anida akk tettinigeḍ
about-private-browsing-hide-activity-1 = Ffer armud d wadig n tunigin s { -mozilla-vpn-brand-name }. Yiwen n usiti, rnu tuqqna , ula ɣef Wi-Fi azayaz.
about-private-browsing-prominent-cta = Qqim d uslig s { -mozilla-vpn-brand-name }

about-private-browsing-focus-promo-cta = Sader { -focus-brand-name }
about-private-browsing-focus-promo-header = { -focus-brand-name }: tunigin tusligt tazirazt
about-private-browsing-focus-promo-text = Asnas-nneɣ aziraz yettwagen i tunigin tusligt itekkes azray-inek d yinagan n tuqqna seld yal aseqdec.

## The following strings will be used for experiments in Fx99 and Fx100

about-private-browsing-focus-promo-header-b = Fṛes tunigin tusligt ɣef tiliɣri-inek
about-private-browsing-focus-promo-text-b = Seqdec { -focus-brand-name } i yinadiyen-a usligen ur tebɣiḍ ad ten-iwali iminig-ik aziraz.
about-private-browsing-focus-promo-header-c = Tabaḍnit izaden ɣef uziraz
about-private-browsing-focus-promo-text-c = { -focus-brand-name } iseffeḍ azray-ik yal mi ara ttusweḥlen udellel d yineḍfaren.

# This string is the title for the banner for search engine selection
# in a private window.
# Variables:
#   $engineName (String) - The engine name that will currently be used for the private window.
about-private-browsing-search-banner-title = { $engineName } d amseday_innek n unadi amezwer def ifuyla usligen
about-private-browsing-search-banner-description =
    { PLATFORM() ->
        [windows] Akken ad tferneḍ amsedday n unadi-nniden ddu ɣer <a data-l10n-name="link-options">Iɣewwaṛen</a>
       *[other] Akken ad tferneḍ amsedday n unadi-nniden ddu ɣer <a data-l10n-name="link-options">Ismenyifen</a>
    }
about-private-browsing-search-banner-close-button =
    .aria-label = Mdel

about-private-browsing-promo-close-button =
    .title = Mdel
