# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.


## Header lists

message-header-to-list-name = Oan
message-header-from-list-name = Fan
message-header-sender-list-name = Ofstjoerder
message-header-reply-to-list-name = Antwurdzje nei
message-header-cc-list-name = Cc
message-header-bcc-list-name = Bcc
message-header-newsgroups-list-name = Nijsgroepen
message-header-tags-list-name = Labels

## Other message headers.
## The field-separator is for screen readers to separate the field name from the field value.

message-header-author-field = Auteur<span data-l10n-name="field-separator">:</span>
message-header-organization-field = Organisaasje<span data-l10n-name="field-separator">:</span>
message-header-subject-field = Underwerp<span data-l10n-name="field-separator">:</span>
message-header-followup-to-field = Ferfolch op<span data-l10n-name="field-separator">:</span>
message-header-date-field = Datum<span data-l10n-name="field-separator">:</span>
message-header-user-agent-field = Useragent<span data-l10n-name="field-separator">:</span>
message-header-references-field = Referinsjes<span data-l10n-name="field-separator">:</span>
message-header-message-id-field = Berjocht-ID<span data-l10n-name="field-separator">:</span>
message-header-in-reply-to-field = As antwurd op<span data-l10n-name="field-separator">:</span>
message-header-website-field = Website<span data-l10n-name="field-separator">:</span>
# An additional email header field that the user has chosen to display. Unlike
# the other headers, the name of this header is not expected to be localised
# because it is generated from the raw field name found in the email header.
#   $fieldName (String) - The field name.
message-header-custom-field = { $fieldName }<span data-l10n-name="field-separator">:</span>

##

message-header-address-in-address-book-icon2 =
    .alt = Yn it adresboek
message-header-address-not-in-address-book-icon2 =
    .alt = Net yn it adresboek
message-header-address-not-in-address-book-button =
    .title = Dit adres yn it adresboek bewarje
message-header-address-in-address-book-button =
    .title = Kontakt bewurkje
message-header-field-show-more = Mear
    .title = Alle ûntfangers toane
message-ids-field-show-all = Alles toane
