# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

# The title of the experiment should be kept in English as it may be referenced
# by various online articles and is technical in nature.
experimental-features-css-masonry2 =
    .label = CSS: Masonry Layout
experimental-features-css-masonry-description = Rmed asefrek n tmahilt tarmitant CSS Masonry Layout. Wali <a data-l10n-name="explainer">asegzi-a</a> i uglam s uswir εlayen n tmahilt-a. I wakken ad d-tefkeḍ tamuɣli-k/m, ttxil-k/m wennet deg <a data-l10n-name="w3c-issue">ugur-a ɣef GitHub</a> neɣ <a data-l10n-name="bug">abug-a</a>.

# The title of the experiment should be kept in English as it may be referenced
# by various online articles and is technical in nature.
experimental-features-web-gpu2 =
    .label = Web API: WebGPU
experimental-features-web-gpu-description2 = API-agi tamaynut tettmuddu asefrek n uswir ameẓẓyan i usiḍen n uselken d uskan n unuḍaf s useqdec n <a data-l10n-name="wikipedia">uferdis asesfer n unuḍaf (GPU)</a> n yibenk n useqdac neɣ n uselkim. <a data-l10n-name="spec">alugen</a> mazal-it iteddu yettnerni. Wali <a data-l10n-name="bugzilla">abug 1602129</a> i wugar n telqayt.

# The title of the experiment should be kept in English as it may be referenced
# by various online articles and is technical in nature.
experimental-features-media-jxl =
    .label = Amidiyat: JPEG XL
experimental-features-media-jxl-description = Ma tettwarmad tmahilt-a, { -brand-short-name } issefrak amasal JPEG XL (JXL). Wagi d amasal n ufaylu n tugna yennernan issefrak asaka war asruḥu seg yifuyla n JPEG iqburen. Wali <a data-l10n-name="bugzilla">abug1539075</a> i wugar n telqayt.

# The title of the experiment should be kept in English as it may be referenced
# by various online articles and is technical in nature.
experimental-features-css-constructable-stylesheets =
    .label = CSS: Constructable Stylesheets
experimental-features-css-constructable-stylesheets-description = Timerna n umeṣkaw ɣer ugrudem <a data-l10n-name="mdn-cssstylesheet">CSSStyleSheet</a> d tegrumma n yisenfal yemgaraden yemcudden, yezmer ad ttwarnunt srid tferkiyin timaynutin n uɣanib s war timerna n tferkit HTML. Aya ad yessishel timerna n tferkiyin n uɣanib ara yettwallsen deg useqdec i useqdec d <a data-l10n-name="mdn-shadowdom">Shadow DOM</a>. Wali <a data-l10n-name="bugzilla">abug1520690</a> i wugar n telqayt.

experimental-features-devtools-compatibility-panel =
    .label = Ifecka n uneflay: Agalis n umṣada
experimental-features-devtools-compatibility-panel-description = Agalis adisan n umaswaḍ n usebter i d-yeskanayen talɣut s telqayt n waddaden n umṣada gar yiminigen n usnas-inek·inem. Wali <a data-l10n-name="bugzilla">abug 1584464</a> i wugar n telqayt.

# Do not translate 'SameSite', 'Lax' and 'None'.
experimental-features-cookie-samesite-lax-by-default2 =
    .label = Inagan n tuqqna: SameSite=Lax s wudem amezwer
experimental-features-cookie-samesite-lax-by-default2-description = Ḥseb inagan n tuqqna am “SameSite=Lax” s wudem amezwer ma yella ulac imyerr n “SameSite” yettwafernen. Ineflayen ilaq ad qeblen addad-a amiran n useqdec war tilas s uwekked n tidet ɣef “SameSite=”.

# Do not translate 'SameSite', 'Lax' and 'None'.
experimental-features-cookie-samesite-none-requires-secure2 =
    .label = Inagan n tuqqna: SameSite=None yesra imyerr aɣelsan
experimental-features-cookie-samesite-none-requires-secure2-description = Inagan n tuqqna s yimyerr “SameSite=None” sran imyerr aɣelsan. Tamahilt-a tesra “Inagan n tuqqna: SameSite=Lax by default”.

# about:home should be kept in English, as it refers to the the URI for
# the internal default home page.
experimental-features-abouthome-startup-cache =
    .label = ɣef: tuffirt n usenker agensan
experimental-features-abouthome-startup-cache-description = Tuffirt i ugbur amezwaru ɣef:isemli agejdan i d-yulin s wudem amewer deg usenker. Iswi seg tuffra-a  d asnerni n temlellit n usenker.

# The title of the experiment should be kept in English as it may be referenced
# by various online articles and is technical in nature.
experimental-features-cookie-samesite-schemeful =
    .label = Inagan n tuqqna: Schemeful SameSite
experimental-features-cookie-samesite-schemeful-description = Sesfer inagan n tuqqna seg yiwet n taɣult, maca s yizenzaɣ yemgaraden (am. http://example.com d https://example.com) am gar yismal deg wadeg n yiwen n usmel. Yessiǧhid taɣellist, d acu yezmer ad d-yeglu s truẓi.

# "Service Worker" is an API name and is usually not translated.
experimental-features-devtools-serviceworker-debugger-support =
    .label = Ifecka n uneflay: Tamseɣtayt n unmahal n umeẓlu
# "Service Worker" is an API name and is usually not translated.
experimental-features-devtools-serviceworker-debugger-support-description = Yermed tallalt tarmitant i yimahalen n umeẓlu deg ugalis n temseɣtit. Tamahilt-a yezmer ad terr ifecka n tneflit ẓẓayit, tessalay daɣen asadur n tkatut.

# WebRTC global mute toggle controls
experimental-features-webrtc-global-mute-toggles =
    .label = Rmed/Sens imesli amatu n WebRTC
experimental-features-webrtc-global-mute-toggles-description = Rnu senqaden ɣer umatar n beṭṭu amatu n WebRTC ara yessirgen iseqdacen ad sensen imesli s umata n usawaḍ d tkamiṛat nsen.

# JS JIT Warp project
experimental-features-js-warp =
    .label = JavaScript JIT: Warp
experimental-features-js-warp-description = Rmed Wrap, d asenfar i usnerni n tmellit n JavaScript d useqdec n tkatut.

# Search during IME
experimental-features-ime-search =
    .label = Afeggag n tansiwin: Sken igmaḍ lawan n usuddes n IME
experimental-features-ime-search-description = IME (Input Method Editor) d afecku ara ak·am-imudden tisirag i usekcem n yizamulen uddisen, am wid yettuseqdacen deg tutlayin yettwarun n Azya n Usammar neɣ n Lhend , s useqdec n unasiw alugan. Armad n termit-a ad yeǧǧ agalis n ufeggag n tansa yeldi, askan n yigmaḍ n unadi d yisumar, s useqdec n IME i usekcem n uḍris. Ẓer belli IME yezmer ad yesken agalis i iɣummen igmaḍ n ufeggag n tansiwin, ɣef waya asmenyif-a yettwasumer kan i IME ur nseqdac ara anaw-a n ugalis.
