# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

privatebrowsingpage-open-private-window-label = Open a Private Windae
    .accesskey = P
about-private-browsing-search-placeholder = Sairch the Wab
about-private-browsing-info-title = Ye're in a Private Windae
about-private-browsing-search-btn =
    .title = Sairch the wab
# Variables
#  $engine (String): the name of the user's default search engine
about-private-browsing-handoff =
    .title = Sairch wi { $engine } or inpit address
about-private-browsing-handoff-no-engine =
    .title = Sairch or inpit address
# Variables
#  $engine (String): the name of the user's default search engine
about-private-browsing-handoff-text = Sairch wi { $engine } or inpit address
about-private-browsing-handoff-text-no-engine = Sairch or inpit address
about-private-browsing-not-private = Richt noo, ye're no in a private windae
about-private-browsing-info-description-private-window = { -brand-short-name } dichts yer sairch and stravaigin historie aince ye sneck aw private windaes. This disnae mak ye anonymous.
about-private-browsing-info-description-simplified = { -brand-short-name } dichts yer sairch and stravaigin historie aince ye sneck aw private windaes, but this disnae mak ye anonymous.
about-private-browsing-learn-more-link = Lairn mair

about-private-browsing-hide-activity = Hide yer activity and airtin, awwhaur ye stravaig
about-private-browsing-prominent-cta = Stey private wi { -mozilla-vpn-brand-name }

## The following strings will be used for experiments in Fx99 and Fx100

# This string is the title for the banner for search engine selection
# in a private window.
# Variables:
#   $engineName (String) - The engine name that will currently be used for the private window.
about-private-browsing-search-banner-title = { $engineName } is yer default airt-oot engine in Private Windaes
about-private-browsing-search-banner-description =
    { PLATFORM() ->
        [windows] Fur tae wale a different airt-oot engine gang tae <a data-l10n-name="link-options">Options</a>
       *[other] Fur tae wale a different airt-oot engine gang tae <a data-l10n-name="link-options">Preferences</a>
    }
about-private-browsing-search-banner-close-button =
    .aria-label = Sneck

