# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.


## Header lists

message-header-to-list-name = At
message-header-from-list-name = Oddi wrth
message-header-sender-list-name = Anfonwr
message-header-reply-to-list-name = Ateb i
message-header-cc-list-name = Cc
message-header-bcc-list-name = Bcc
message-header-newsgroups-list-name = Grwpiau Newyddion
message-header-tags-list-name = Tagiau

## Other message headers.
## The field-separator is for screen readers to separate the field name from the field value.

message-header-author-field = Awdur<span data-l10n-name="field-separator">:</span>
message-header-organization-field = Corff<span data-l10n-name="field-separator">:</span>
message-header-subject-field = Pwnc<span data-l10n-name="field-separator">:</span>
message-header-followup-to-field = Dilynol i<span data-l10n-name="field-separator">:</span>
message-header-date-field = Dyddiad<span data-l10n-name="field-separator">:</span>
message-header-user-agent-field = Asiant defnyddiwr<span data-l10n-name="field-separator">:</span>
message-header-references-field = Cyfeiriadau<span data-l10n-name="field-separator">:</span>
message-header-message-id-field = ID Neges<span data-l10n-name="field-separator">:</span>
message-header-in-reply-to-field = Wrth ateb i<span data-l10n-name="field-separator">:</span>
message-header-website-field = Gwefan<span data-l10n-name="field-separator">:</span>
# An additional email header field that the user has chosen to display. Unlike
# the other headers, the name of this header is not expected to be localised
# because it is generated from the raw field name found in the email header.
#   $fieldName (String) - The field name.
message-header-custom-field = { $fieldName }<span data-l10n-name="field-separator">:</span>

##

message-header-address-in-address-book-icon2 =
    .alt = Yn y Llyfr Cyfeiriadau
message-header-address-not-in-address-book-icon2 =
    .alt = Ddim yn y Llyfr Cyfeiriadau
message-header-address-not-in-address-book-button =
    .title = Cadw'r cyfeiriad hwn i'r Llyfr Cyfeiriadau
message-header-address-in-address-book-button =
    .title = Golygu cysylltiad
message-header-field-show-more = Rhagor
    .title = Dangos pob derbynnydd
message-ids-field-show-all = Dangos y cyfan
