# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

privatebrowsingpage-open-private-window-label = Ôtwōrz prywatne ôkno
    .accesskey = P
about-private-browsing-search-placeholder = Szukej w internecie
about-private-browsing-info-title = Je żeś we prywatnym ôknie
about-private-browsing-search-btn =
    .title = Szukej w internecie
# Variables
#  $engine (String): the name of the user's default search engine
about-private-browsing-handoff =
    .title = Szukej ze { $engine } abo wkludź adresa
about-private-browsing-handoff-no-engine =
    .title = Szukej abo wkludź adresa
# Variables
#  $engine (String): the name of the user's default search engine
about-private-browsing-handoff-text = Szukej ze { $engine } abo wkludź adresa
about-private-browsing-handoff-text-no-engine = Szukej abo wkludź adresa
about-private-browsing-not-private = Niy je żeś teroz we prywatnym ôknie.
about-private-browsing-info-description-private-window = Prywatne ôkno: { -brand-short-name } pucuje twoja historyjo szukanio i przeglōndanio, jak zawrzesz wszyskie prywatne ôkna. To niy dowo ci anonimowości.
about-private-browsing-info-description-simplified = Prywatne ôkno: { -brand-short-name } pucuje twoja historyjo szukanio i przeglōndanio, jak zawrzesz wszyskie prywatne ôkna, ale niy dowo ci to anonimowości.
about-private-browsing-learn-more-link = Przewiydz sie wiyncyj

about-private-browsing-hide-activity = Skryj swoja aktywność i plac wszyńdzie, kaj przeglōndosz
about-private-browsing-get-privacy = Chrōń swoja prywatność wszyńdzie, kaj przeglōndosz
about-private-browsing-hide-activity-1 = Skryj swoje przeglōndanie i plac z usugōm { -mozilla-vpn-brand-name }. Jednym klikniyńciym rychtujesz bezpieczne połōnczynie, tyż w publicznych necach Wi-Fi.
about-private-browsing-prominent-cta = Chrōń przywatność z usugōm { -mozilla-vpn-brand-name }

about-private-browsing-focus-promo-cta = Pobier { -focus-brand-name }
about-private-browsing-focus-promo-header = { -focus-brand-name }: prywatnie przeglōndanie w drōdze
about-private-browsing-focus-promo-text = Nasza szpecjalno mobilniokowo aplikacyjo do prywatnego przeglōndanio kożdy roz pucuje twoja historyjo i cookies.

## The following strings will be used for experiments in Fx99 and Fx100

about-private-browsing-focus-promo-header-b = Używej prywatnego przeglōndanio na swojim telefōnie
about-private-browsing-focus-promo-text-b = Używej { -focus-brand-name(case: "acc") } to tych prywatnych zeszukiwań, co ich niy mo uwidzieć głōwno przeglōndarka na mobilnioku.
about-private-browsing-focus-promo-header-c = Wyższy poziōm prywatności na mobilnioku
about-private-browsing-focus-promo-text-c = { -focus-brand-name } kożdy roz pucuje twoja historyjo, a ku tymu szperuje reklamy i śledzōnce elymynty.

# This string is the title for the banner for search engine selection
# in a private window.
# Variables:
#   $engineName (String) - The engine name that will currently be used for the private window.
about-private-browsing-search-banner-title = { $engineName } to je twoja bazowo wyszukowarka we prywatnych ôknach.
about-private-browsing-search-banner-description =
    { PLATFORM() ->
        [windows] Inkszo wyszukowarka idzie ôbrać w <a data-l10n-name="link-options">ôpcyjach</a>
       *[other] Inkszo wyszukowarka idzie ôbrać we <a data-l10n-name="link-options">preferyncyjach</a>
    }
about-private-browsing-search-banner-close-button =
    .aria-label = Zawrzij

about-private-browsing-promo-close-button =
    .title = Zawrzij
