# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

privatebrowsingpage-open-private-window-label = Avrir ina fanestra privata
    .accesskey = P
about-private-browsing-search-placeholder = Tschertgar en il web
about-private-browsing-info-title = Ti ta chattas en ina fanestra privata
about-private-browsing-search-btn =
    .title = Tschertgar en il web
# Variables
#  $engine (String): the name of the user's default search engine
about-private-browsing-handoff =
    .title = Tschertgar cun { $engine } u endatar in'adressa
about-private-browsing-handoff-no-engine =
    .title = Tschertgar u endatar in'adressa
# Variables
#  $engine (String): the name of the user's default search engine
about-private-browsing-handoff-text = Tschertgar cun { $engine } u endatar in'adressa
about-private-browsing-handoff-text-no-engine = Tschertgar u endatar in'adressa
about-private-browsing-not-private = Ti n'es actualmain betg en ina fanestra privata.
about-private-browsing-info-description-private-window = Fanestra privata: { -brand-short-name } stizza tia cronologia da tschertga e navigaziun cura che ti serras tut las fanestras privatas. Quai na ta renda betg anonim.
about-private-browsing-info-description-simplified = { -brand-short-name } stizza tia cronologia da tschertga e navigaziun cura che ti serras tut las fanestras privatas, ma quai na ta renda betg anonim.
about-private-browsing-learn-more-link = Ulteriuras infurmaziuns

about-private-browsing-hide-activity = Zuppenta tias activitads e tia posiziun, dapertut nua che ti navigheschas
about-private-browsing-get-privacy = Protegia tia sfera privata dapertut nua che ti navigheschas
about-private-browsing-hide-activity-1 = Zuppenta tia activitad da navigaziun e tia posiziun cun { -mozilla-vpn-brand-name }. In clic creescha ina connexiun segirada, perfin durant utilisar in WLAN public.
about-private-browsing-prominent-cta = Salva tia sfera privata cun { -mozilla-vpn-brand-name }

about-private-browsing-focus-promo-cta = Telechargiar { -focus-brand-name }
about-private-browsing-focus-promo-header = { -focus-brand-name }: Navigaziun privata nua ch'i saja
about-private-browsing-focus-promo-text = Nossa app per apparats mobils concepida per la navigaziun privata stizza automaticamain tia cronologia ed ils cookies.

## The following strings will be used for experiments in Fx99 and Fx100

about-private-browsing-focus-promo-header-b = Pussibilitescha la navigaziun privata sin tes telefon
about-private-browsing-focus-promo-text-b = Utilisescha { -focus-brand-name } per las tschertgas privatas ch'il navigatur principal na duai betg vesair.
about-private-browsing-focus-promo-header-c = Protecziun da datas avanzada sin l'apparat mobil
about-private-browsing-focus-promo-text-c = { -focus-brand-name } stizza mintga giada tia cronologia e blochescha ultra da quai reclamas e fastizaders.

# This string is the title for the banner for search engine selection
# in a private window.
# Variables:
#   $engineName (String) - The engine name that will currently be used for the private window.
about-private-browsing-search-banner-title = { $engineName } è tia maschina da tschertgar da standard en fanestras privatas
about-private-browsing-search-banner-description =
    { PLATFORM() ->
        [windows] Per tscherner in'autra maschina da tschertgar, ir a las <a data-l10n-name="link-options">Preferenzas</a>
       *[other] Per tscherner in'autra maschina da tschertgar, ir a las <a data-l10n-name="link-options">Preferenzas</a>
    }
about-private-browsing-search-banner-close-button =
    .aria-label = Serrar

about-private-browsing-promo-close-button =
    .title = Serrar
