# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

privatebrowsingpage-open-private-window-label = ఆంతరంగిక విండో తెరువు
    .accesskey = P
about-private-browsing-search-placeholder = జాలంలో వెతకండి
about-private-browsing-info-title = మీరు అంతరంగిక విండోలో ఉన్నారు
about-private-browsing-search-btn =
    .title = జాలంలో వెతకండి
# Variables
#  $engine (String): the name of the user's default search engine
about-private-browsing-handoff =
    .title = { $engine }‌తో వెతకండి లేదా చిరునామా ఇవ్వండి
about-private-browsing-handoff-no-engine =
    .title = వెతకండి లేదా చిరునామాను ఇవ్వండి
# Variables
#  $engine (String): the name of the user's default search engine
about-private-browsing-handoff-text = { $engine }‌తో వెతకండి లేదా చిరునామాను ఇవ్వండి
about-private-browsing-handoff-text-no-engine = వెతకండి లేదా చిరునామాను ఇవ్వండి
about-private-browsing-not-private = మీరు ప్రస్తుతం అంతరంగిక విండోలో లేరు.
about-private-browsing-learn-more-link = ఇంకా తెలుసుకోండి

about-private-browsing-get-privacy = విహరిస్తున్న ప్రతిచోటా అంతరంగికతా సంరక్షణలను పొందండి

about-private-browsing-focus-promo-cta = { -focus-brand-name }‌ను దించుకోండి

## The following strings will be used for experiments in Fx99 and Fx100

about-private-browsing-focus-promo-header-c = మొబైలులో తర్వాతి-స్థాయి అంతరంగికత

# This string is the title for the banner for search engine selection
# in a private window.
# Variables:
#   $engineName (String) - The engine name that will currently be used for the private window.
about-private-browsing-search-banner-title = అంతరంగిక కిటికీలలో మీ అప్రమేయ శోధన యంత్రం { $engineName }
about-private-browsing-search-banner-description =
    { PLATFORM() ->
        [windows] మరో శోధన యంత్రాన్ని ఎంచుకోడానికి <a data-l10n-name="link-options">ఎంపికల</a>కు వెళ్ళండి
       *[other] మరో శోధన యంత్రాన్ని ఎంచుకోడానికి <a data-l10n-name="link-options">అభిరుచుల</a>కు వెళ్ళండి
    }
about-private-browsing-search-banner-close-button =
    .aria-label = మూసివేయి

about-private-browsing-promo-close-button =
    .title = మూసివేయి
