# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

privatebrowsingpage-open-private-window-label = Uddit Henorde Suuriinde
    .accesskey = S
about-private-browsing-search-placeholder = Yiylo geese ɗee
about-private-browsing-info-title = Ngonɗaa ko e Henorde Suuriinde
about-private-browsing-not-private = A wonaani e henorde suuriinde e oo sahaa.

## The following strings will be used for experiments in Fx99 and Fx100

# This string is the title for the banner for search engine selection
# in a private window.
# Variables:
#   $engineName (String) - The engine name that will currently be used for the private window.
about-private-browsing-search-banner-title = { $engineName } woni yiylorde maa woowaande e kenorɗe cuuriiɗe
about-private-browsing-search-banner-description =
    { PLATFORM() ->
        [windows] Ngam suɓaade yiylorde woɗnde yah to <a data-l10n-name="link-options">Cuɓe</a>
       *[other] Ngam suɓaade yiylorde woɗnde yah to <a data-l10n-name="link-options">Cuɓoraaɗe</a>
    }
about-private-browsing-search-banner-close-button =
    .aria-label = Uddu

