# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

privatebrowsingpage-open-private-window-label = একটি ব্যক্তিগত উইন্ডো খুলুন
    .accesskey = প
about-private-browsing-search-placeholder = ওয়েবে সন্ধান করুন
about-private-browsing-info-title = আপনি একটি ব্যাক্তিগত উইন্ডোতে আছেন
about-private-browsing-search-btn =
    .title = ওয়েবে অনুসন্ধান করুন
# Variables
#  $engine (String): the name of the user's default search engine
about-private-browsing-handoff =
    .title = { $engine } দ্বারা অনুসন্ধান করুন অথবা ঠিকানা লিখুন
about-private-browsing-handoff-no-engine =
    .title = অনুসন্ধান করুন বা ঠিকানা লিখুন
# Variables
#  $engine (String): the name of the user's default search engine
about-private-browsing-handoff-text = { $engine } দ্বারা অনুসন্ধান করুন অথবা ঠিকানা লিখুন
about-private-browsing-handoff-text-no-engine = অনুসন্ধান করুন অথবা ঠিকানা লিখুন
about-private-browsing-not-private = আপনি বর্তমানে কোনো ব্যক্তিগত উইন্ডোতে নেই।
about-private-browsing-info-description-private-window = ব্যক্তিগত উইন্ডো: আপনি যখন সমস্ত ব্যক্তিগত উইন্ডো বন্ধ করেন, { -brand-short-name } আপনার অনুসন্ধান এবং ব্রাউজিং ইতিহাস সাফ করে। এটি আপনাকে বেনামী করে না।
about-private-browsing-info-description-simplified = আপনি যখন সমস্ত ব্যক্তিগত উইন্ডো বন্ধ করেন, { -brand-short-name } আপনার অনুসন্ধান এবং ব্রাউজিং ইতিহাস সাফ করে তবে এটি আপনাকে বেনামী করে না।
about-private-browsing-learn-more-link = আরও জানুন
about-private-browsing-hide-activity = আপনি যেখানেই ব্রাউজ করবেন, সেখানে আপনার কার্যকলাপ এবং অবস্থান গোপন রাখুন
about-private-browsing-get-privacy = আপনি যেখানেই ব্রাউজ করেন সেখানেই গোপনীয়তা সুরক্ষা পান।
about-private-browsing-prominent-cta = { -mozilla-vpn-brand-name } ব্যবহার করে ব্যক্তিগত থাকুন
about-private-browsing-focus-promo-cta = { -focus-brand-name } ডাউনলোড করুন
about-private-browsing-focus-promo-text = আমাদের নিবেদিত ব্যক্তিগত ব্রাউজিং মোবাইল অ্যাপ আপনার ইতিহাস ও কুকি প্রতিবার পরিষ্কার করে।

## The following strings will be used for experiments in Fx99 and Fx100

about-private-browsing-focus-promo-header-b = আপনার ফোনে ব্যক্তিগত ব্রাউজিং নিন
about-private-browsing-focus-promo-header-c = মোবাইলে পরবর্তী স্তরের গোপনীয়তা
about-private-browsing-focus-promo-text-c = { -focus-brand-name } বিজ্ঞাপন ও ট্র্যাকার অবরুদ্ধ করাসহ প্রতিবার আপনার ইতিহাস পরিষ্কার করে।
# This string is the title for the banner for search engine selection
# in a private window.
# Variables:
#   $engineName (String) - The engine name that will currently be used for the private window.
about-private-browsing-search-banner-title = { $engineName } আপনার ব্যক্তিগত উইন্ডোর ডিফল্ট অনুসন্ধান ইঞ্জিন
about-private-browsing-search-banner-description =
    { PLATFORM() ->
        [windows] ভিন্ন একটি অনুসন্ধান ইঞ্জিন নির্বাচন করার জন্য <a data-l10n-name="link-options">অপশন</a> পাতায় যান
       *[other] ভিন্ন একটি অনুসন্ধান ইঞ্জিন নির্বাচন করার জন্য <a data-l10n-name="link-options">পছন্দসমূহ</a> পাতায় যান
    }
about-private-browsing-search-banner-close-button =
    .aria-label = বন্ধ করুন
about-private-browsing-promo-close-button =
    .title = বন্ধ করুন
