# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.


## Header lists

message-header-to-list-name = Saaja
message-header-from-list-name = Saatja
message-header-sender-list-name = Saatja
message-header-reply-to-list-name = Vastamise aadress
message-header-cc-list-name = Koopia
message-header-bcc-list-name = Pimekoopia
message-header-newsgroups-list-name = Uudistegrupid
message-header-tags-list-name = Sildid

## Other message headers.
## The field-separator is for screen readers to separate the field name from the field value.

message-header-author-field = Autor<span data-l10n-name="field-separator">:</span>
message-header-organization-field = Organisatsioon<span data-l10n-name="field-separator">:</span>
message-header-subject-field = Teema<span data-l10n-name="field-separator">:</span>
message-header-followup-to-field = Järeltegevus<span data-l10n-name="field-separator">:</span>
message-header-date-field = Kuupäev<span data-l10n-name="field-separator">:</span>
message-header-user-agent-field = Kasutajaagent<span data-l10n-name="field-separator">:</span>
message-header-references-field = Viited<span data-l10n-name="field-separator">:</span>
message-header-message-id-field = Kirja ID<span data-l10n-name="field-separator">:</span>
message-header-in-reply-to-field = Vastuseks <span data-l10n-name="field-separator">:</span>
message-header-website-field = Sait<span data-l10n-name="field-separator">:</span>
# An additional email header field that the user has chosen to display. Unlike
# the other headers, the name of this header is not expected to be localised
# because it is generated from the raw field name found in the email header.
#   $fieldName (String) - The field name.
message-header-custom-field = { $fieldName }<span data-l10n-name="field-separator">:</span>

##

message-header-address-in-address-book-icon2 =
    .alt = Aadressiraamatus
message-header-address-not-in-address-book-icon2 =
    .alt = Pole aadressiraamatus
message-header-address-not-in-address-book-button =
    .title = Salvesta see aadress aadressiraamatusse
message-header-address-in-address-book-button =
    .title = Muuda kontakti
message-header-field-show-more = Rohkem
    .title = Kuva kõiki adressaate
message-ids-field-show-all = Kuva kõiki
