# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

privatebrowsingpage-open-private-window-label = បើក​បង្អួច​ឯកជន
    .accesskey = P
about-private-browsing-search-placeholder = ស្វែងរក​ទំព័រ​បណ្ដាញ
about-private-browsing-info-title = អ្នក​កំពុង​ស្ថិត​នៅ​​ផ្ទាំង​ឯកជន​
about-private-browsing-search-btn =
    .title = ស្វែងរក​គេហទំព័រ
# Variables
#  $engine (String): the name of the user's default search engine
about-private-browsing-handoff =
    .title = ស្វែងរក​ជាមួយ { $engine } ឬ​បញ្ចូល​អាសយដ្ឋាន
about-private-browsing-handoff-no-engine =
    .title = ស្វែងរក ឬ​បញ្ចូល​អាសយដ្ឋាន
# Variables
#  $engine (String): the name of the user's default search engine
about-private-browsing-handoff-text = ស្វែងរក​ជាមួយ { $engine } ឬ​បញ្ចូល​អាសយដ្ឋាន
about-private-browsing-handoff-text-no-engine = ស្វែងរក ឬ​បញ្ចូល​អាសយដ្ឋាន
about-private-browsing-not-private = បច្ចុប្បន្ន​អ្នក​មិន​នៅ​ក្នុង​បង្អួច​ឯកជន​ទេ។
about-private-browsing-info-description-private-window = ផ្ទាំងឯកជន៖ { -brand-short-name } សម្អាត​ការស្វែងរក​របស់អ្នក និង​ប្រវត្តិរុករក នៅពេល​អ្នក​បិទ​ផ្ទាំង​ឯកជន​ទាំងអស់។ វា​មិន​បង្ហាញអ្នក​ជាអនាមិកទេ។
about-private-browsing-info-description-simplified = { -brand-short-name } សម្អាត​ការស្វែងរក​របស់អ្នក និង​ប្រវត្តិរុករក នៅពេល​អ្នក​បិទ​ផ្ទាំង​ឯកជន​ទាំងអស់ ប៉ុន្តែវា​មិន​បង្ហាញអ្នក​ជាអនាមិកទេ។
about-private-browsing-learn-more-link = ស្វែងយល់​បន្ថែម

about-private-browsing-hide-activity = លាក់​សកម្មភាព និង​ទីតាំង​របស់អ្នក គ្រប់កន្លែង​ដែលអ្នក​រុករក
about-private-browsing-get-privacy = ទទួលបាន​ការការពារ​ឯកជនភាព​គ្រប់កន្លែង​ដែលអ្នក​រុករក
about-private-browsing-hide-activity-1 = លាក់​សកម្មភាព​រុករក និង​ទីតាំង​ជាមួយ { -mozilla-vpn-brand-name }។ ចុច​មួយ​បង្កើត​ការតភ្ជាប់​សុវត្ថិភាព ទោះជា​នៅលើ Wi-Fi សាធារណៈក៏ដោយ។
about-private-browsing-prominent-cta = បន្តនៅជាឯកជន​ជាមួយ { -mozilla-vpn-brand-name }

## The following strings will be used for experiments in Fx99 and Fx100

# This string is the title for the banner for search engine selection
# in a private window.
# Variables:
#   $engineName (String) - The engine name that will currently be used for the private window.
about-private-browsing-search-banner-title = { $engineName } គឺជាម៉ាស៊ីនស្វែងរកលំនាំដើមរបស់អ្នកនៅក្នុងវីនដូឯកជន
about-private-browsing-search-banner-description =
    { PLATFORM() ->
        [windows] ដើម្បីជ្រើសរើស​ម៉ាស៊ីន​ស្វែងរក​ផ្សេង សូម​ចូលទៅ <a data-l10n-name="link-options">ជម្រើស</a>
       *[other] ដើម្បីជ្រើសរើស​ម៉ាស៊ីន​ស្វែងរក​ផ្សេង សូម​ចូលទៅ <a data-l10n-name="link-options">ចំណូលចិត្ត</a>
    }
about-private-browsing-search-banner-close-button =
    .aria-label = បិទ

