# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

# The title of the experiment should be kept in English as it may be referenced
# by various online articles and is technical in nature.
experimental-features-css-masonry2 =
    .label = CSS: Masonry Layout
experimental-features-css-masonry-description = Yn galluogi cefnogaeth i nodwedd arbrofol Cynllun Masonry CSS. Gw. yr <a data-l10n-name="explainer">esboniwr</a> i gael disgrifiad lefel uchel o'r nodwedd. I ddarparu adborth, rhowch sylwadau yn <a data-l10n-name="w3c-issue">y mater GitHub hwn</a> neu <a data-l10n-name="bug">y byg hwn</a>.
# The title of the experiment should be kept in English as it may be referenced
# by various online articles and is technical in nature.
experimental-features-web-gpu2 =
    .label = Web API: WebGPU
experimental-features-web-gpu-description2 = Mae'r API newydd hwn yn darparu cefnogaeth lefel isel ar gyfer perfformio cyfrifiant a rendro graffeg gan ddefnyddio <a data-l10n-name="wikipedia">Uned Prosesu Graffeg (GPU)</a> dyfais neu gyfrifiadur y defnyddiwr. Mae'r <a data-l10n-name="spec">fanyleb </a> yn dal i fod yn waith ar y gweill. Gweler <a data-l10n-name="bugzilla">bug 1602129</a> am fwy o fanylion.
# The title of the experiment should be kept in English as it may be referenced
# by various online articles and is technical in nature.
experimental-features-media-jxl =
    .label = Cyfryngau: JPEG XL
experimental-features-media-jxl-description = Gyda'r nodwedd hon wedi'i galluogi, mae { -brand-short-name } yn cefnogi fformat JPEG XL (JXL). Mae hwn yn fformat ffeil delwedd amgen sy'n cefnogi trosglwyddo  heb golled o ffeiliau JPEG traddodiadol. Darllenwch <a data-l10n-name="bugzilla">bug 1539075</a> am ragor o fanylion.
# The title of the experiment should be kept in English as it may be referenced
# by various online articles and is technical in nature.
experimental-features-css-constructable-stylesheets =
    .label = CSS: Constructable Stylesheets
experimental-features-css-constructable-stylesheets-description = Mae ychwanegu adeiladwr at y rhyngwyneb <a data-l10n-name="mdn-cssstylesheet">CSSStyleSheet</a> yn ogystal ag amrywiaeth o newidiadau cysylltiedig yn ei gwneud hi'n bosibl creu taflenni arddull newydd yn uniongyrchol heb orfod ychwanegu'r ddalen at yr HTML. Mae hyn yn ei gwneud hi'n llawer haws creu taflenni arddull y mae modd eu hailddefnyddio i'w defnyddio gyda <a data-l10n-name="mdn-shadowdom">Shadow DOM</a>. Gweler <a data-l10n-name="bugzilla">bug 1520690</a> am fwy o fanylion.
experimental-features-devtools-compatibility-panel =
    .label = Developer Tools: Compatibility Panel
experimental-features-devtools-compatibility-panel-description = Panel ochr ar gyfer yr Arolygydd Tudalen sy'n dangos gwybodaeth i chi sy'n manylu ar statws cydnawsedd traws-borwr eich ap. Gweler <a data-l10n-name="bugzilla">bug 1584464</a> am fwy o fanylion.
# Do not translate 'SameSite', 'Lax' and 'None'.
experimental-features-cookie-samesite-lax-by-default2 =
    .label = Cwcis: SameSite=Lax by default
experimental-features-cookie-samesite-lax-by-default2-description = Trin cwcis fel “SameSite = Lax” by default os nad oes priodoledd “SameSite” wedi'i nodi. Rhaid i ddatblygwyr ddewis y cyflwr cyfredol o ddefnydd anghyfyngedig trwy ddewis yn benodol “SameSite = None”.
# Do not translate 'SameSite', 'Lax' and 'None'.
experimental-features-cookie-samesite-none-requires-secure2 =
    .label = Cwcis: mae SameSite=none angen priodoledd ddiogel
experimental-features-cookie-samesite-none-requires-secure2-description = Mae cwcis â phriodoledd “SameSite=None” angen y briodoledd ddiogel. Mae'r nodwedd hon yn gofyn am “Cookies: SameSite=Lax by default”.
# about:home should be kept in English, as it refers to the the URI for
# the internal default home page.
experimental-features-abouthome-startup-cache =
    .label = about:home startup cache
experimental-features-abouthome-startup-cache-description = Storfa ar gyfer y ddogfen gychwynnol about:home sy'n cael ei llwytho yn ragosodedig wrth gychwyn. Pwrpas y storfa yw gwella perfformiad cychwyn.
# The title of the experiment should be kept in English as it may be referenced
# by various online articles and is technical in nature.
experimental-features-cookie-samesite-schemeful =
    .label = Cookies: Schemeful SameSite
experimental-features-cookie-samesite-schemeful-description = Trin cwcis o'r un parth, ond gyda gwahanol gynlluniau (e.e. http://example.com a https://example.com) fel traws-gwefan yn lle'r un wefan. Yn gwella diogelwch, ond o bosibl yn cyflwyno toriadau.
# "Service Worker" is an API name and is usually not translated.
experimental-features-devtools-serviceworker-debugger-support =
    .label = Developer Tools: Service Worker debugging
# "Service Worker" is an API name and is usually not translated.
experimental-features-devtools-serviceworker-debugger-support-description = Yn galluogi cefnogaeth arbrofol i Weithwyr Gwasanaeth yn y panel Dadfygiwr. Efallai y bydd y nodwedd hon yn arafu'r Offer Datblygwr ac yn cynyddu'r defnydd o gof.
# WebRTC global mute toggle controls
experimental-features-webrtc-global-mute-toggles =
    .label = Toglau Tewi WebRTC Cyffredinol
experimental-features-webrtc-global-mute-toggles-description = Ychwanegwch ffyrdd o reoli dangosydd rhannu WebRTC i gyd sy'n caniatáu i ddefnyddwyr dewi eu llif meicroffon a chamera.
# JS JIT Warp project
experimental-features-js-warp =
    .label = JavaScript JIT: Warp
experimental-features-js-warp-description = Galluogi Warp, project i wella perfformiad JavaScript a defnydd o'r cof.
# Search during IME
experimental-features-ime-search =
    .label = Bar Cyfeiriadau: dangos canlyniadau wrth ddefnyddio'r IME
experimental-features-ime-search-description = Offeryn yw IME (Golygydd Dull Mewnbwn) sy'n eich galluogi i nodi symbolau cymhleth, fel y rhai sy'n cael eu ddefnyddio mewn ieithoedd ysgrifenedig yn Nwyrain Asia neu India, gan ddefnyddio bysellfwrdd safonol. Bydd galluogi'r arbrawf hwn yn cadw'r panel bar cyfeiriadau ar agor, dangos canlyniadau chwilio ac awgrymiadau, tra'n defnyddio IME i fewnbynnu testun. Sylwch y gallai'r IME ddangos panel sy'n ymdrin â chanlyniadau'r bar cyfeiriad, felly mae'r dewis hwn yn cael ei awgrymu ar gyfer IME sydd ddim yn defnyddio'r math hwn o banel.
# Text recognition for images
experimental-features-text-recognition =
    .label = Adnabod Testun
experimental-features-text-recognition-description = Galluogi nodweddion i adnabod testun mewn delweddau.
