# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

about-httpsonly-title-alert = Alɣu n uskar HTTPS-Only
about-httpsonly-title-site-not-available = Ulac taɣellist n usmel

# Variables:
#   $websiteUrl (String) - Url of the website that failed to load. Example: www.example.com
about-httpsonly-explanation-unavailable2 = Tremdeḍ askarHTTPS-Only  i tɣellist ifazen, yerna ulac lqem n HTTPS n { $websiteUrl }.
about-httpsonly-explanation-question = D acu i d-yeglan s wugur-a?
about-httpsonly-explanation-nosupport = Ahat, asmel web ur isefrak ara s sshala HTTPS.
about-httpsonly-explanation-risk = Yezmer daɣen yella uẓeddam yettekkan. Ma yella tenwiḍ ad terzuḍ ɣer usmel web, ur ilaq ara ad teskecmeḍ kra seg talɣut tabaḍnit am wawalen uffiren, imaylen neɣ ttfaṣil n tkarḍa n usellek.
about-httpsonly-explanation-continue = Ma tkemmleḍ, askar HTTPS-Only ad yettwasens i kra n wakud i usmel-a.

about-httpsonly-button-continue-to-site = Kemmel ɣer usmel HTTP
about-httpsonly-button-go-back = Uɣal ɣer deffir
about-httpsonly-link-learn-more = Issin ugar…

## Suggestion Box that only shows up if a secure connection to www can be established
## Variables:
##   $websiteUrl (String) - Url of the website that can be securely loded with these alternatives. Example: example.com

about-httpsonly-suggestion-box-header = Tazmert-nniḍen
about-httpsonly-suggestion-box-www-text = Yella lqem aɣellsan n <em>www.{ $websiteUrl }</em>. Tzemreḍ ad terzuḍ ɣer usebter-a deg ubdil n <em>{ $websiteUrl }</em>.
about-httpsonly-suggestion-box-www-button = Rzu ɣer www.{ $websiteUrl }
