# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

about-httpsonly-title-alert = Alèrta mòde HTTPS solament
about-httpsonly-title-site-not-available = Site securizat pas disponible

# Variables:
#   $websiteUrl (String) - Url of the website that failed to load. Example: www.example.com
about-httpsonly-explanation-unavailable2 = Avètz activat lo mòde HTTPS solament e cap de version HTTPS de <em>{ $websiteUrl } es pas disponibla.
about-httpsonly-explanation-question = Quina poiriá èsser la causa ?
about-httpsonly-explanation-nosupport = Fòrt probablament lo site web pren simplament pas en carga lo HTTPS.
about-httpsonly-explanation-risk = Es tanben possible qu’un malfactor siá implicat, se decidissètz de visitar lo site web, val mai evitar de dintrar d’informacions sensiblas coma de senhals, adreças electronicas o de cartas bancàrias.
about-httpsonly-explanation-continue = Se contunhatz, lo mòde HTTPS solament serà desactivat temporàriament per aqueste site.

about-httpsonly-button-continue-to-site = Contunhar cap al site HTTP
about-httpsonly-button-go-back = Tornar
about-httpsonly-link-learn-more = Ne saber mai…

## Suggestion Box that only shows up if a secure connection to www can be established
## Variables:
##   $websiteUrl (String) - Url of the website that can be securely loded with these alternatives. Example: example.com

about-httpsonly-suggestion-box-header = Alternativa possibla
about-httpsonly-suggestion-box-www-text = I a una version segura de <em>www.{ $websiteUrl }</em>. Podètz visitar aquesta pagina a la plaça de <em>{ $websiteUrl }</em>.
about-httpsonly-suggestion-box-www-button = Anar a www.{ $websiteUrl }
