# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.


## Header lists

message-header-to-list-name = Til
message-header-from-list-name = Frá
message-header-sender-list-name = Sendandi
message-header-reply-to-list-name = Svara á
message-header-cc-list-name = Afrit
message-header-bcc-list-name = Falið afrit
message-header-newsgroups-list-name = Fréttahópar
message-header-tags-list-name = Merki

## Other message headers.
## The field-separator is for screen readers to separate the field name from the field value.

message-header-author-field = Höfundur<span data-l10n-name="field-separator">:</span>
message-header-organization-field = Félag/Fyrirtæki/Stofnun<span data-l10n-name="field-separator">:</span>
message-header-subject-field = Viðfangsefni<span data-l10n-name="field-separator">:</span>
message-header-followup-to-field = Framhald af<span data-l10n-name="field-separator">:</span>
message-header-date-field = Dagsetning<span data-l10n-name="field-separator">:</span>
message-header-user-agent-field = Kennistrengur<span data-l10n-name="field-separator">:</span>
message-header-references-field = Tilvísanir<span data-l10n-name="field-separator">:</span>
message-header-message-id-field = Auðkenni skilaboða<span data-l10n-name="field-separator">:</span>
message-header-in-reply-to-field = Sem svar við<span data-l10n-name="field-separator">:</span>
message-header-website-field = Vefsvæði<span data-l10n-name="field-separator">:</span>
# An additional email header field that the user has chosen to display. Unlike
# the other headers, the name of this header is not expected to be localised
# because it is generated from the raw field name found in the email header.
#   $fieldName (String) - The field name.
message-header-custom-field = { $fieldName }<span data-l10n-name="field-separator">:</span>

##

message-header-address-in-address-book-icon2 =
    .alt = Í nafnaskránni
message-header-address-not-in-address-book-icon2 =
    .alt = Ekki í nafnaskránni
message-header-address-not-in-address-book-button =
    .title = Vista þetta póstfang í nafnaskránni
message-header-address-in-address-book-button =
    .title = Breyta tengilið
message-header-field-show-more = Meira
    .title = Sýna alla viðtakendur
message-ids-field-show-all = Birta allt
