# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

privatebrowsingpage-open-private-window-label = Yab dirica me mung
    .accesskey = m
about-private-browsing-search-placeholder = Yeny Kakube
about-private-browsing-info-title = Itye ii Dirica me Mung
about-private-browsing-search-btn =
    .title = Yeny kakube
# Variables
#  $engine (String): the name of the user's default search engine
about-private-browsing-handoff =
    .title = Yeny ki { $engine } onyo ket kanonge
about-private-browsing-handoff-no-engine =
    .title = Yeny onyo ket kanonge
# Variables
#  $engine (String): the name of the user's default search engine
about-private-browsing-handoff-text = Yeny ki { $engine } onyo ket kanonge
about-private-browsing-handoff-text-no-engine = Yeny onyo ket kanonge
about-private-browsing-not-private = Kombedi pe itye i dirica me mung.
about-private-browsing-learn-more-link = Nong ngec mapol

## The following strings will be used for experiments in Fx99 and Fx100

# This string is the title for the banner for search engine selection
# in a private window.
# Variables:
#   $engineName (String) - The engine name that will currently be used for the private window.
about-private-browsing-search-banner-title = { $engineName } aye injin yeny makwongo mamegi ii Dirica me Mung
about-private-browsing-search-banner-description =
    { PLATFORM() ->
        [windows] Me yero injin yeny mukene cit i <a data-l10n-name="link-options">Ter</a>
       *[other] Me yero injin yeny mukene cit i <a data-l10n-name="link-options">Ter</a>
    }
about-private-browsing-search-banner-close-button =
    .aria-label = Lor

