# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

privatebrowsingpage-open-private-window-label = Ava privaatne aken
    .accesskey = p
about-private-browsing-search-placeholder = Otsi veebist
about-private-browsing-info-title = Oled privaatses aknas
about-private-browsing-search-btn =
    .title = Otsi veebist
# Variables
#  $engine (String): the name of the user's default search engine
about-private-browsing-handoff =
    .title = Otsi otsingumootoriga { $engine } või sisesta veebiaadress
about-private-browsing-handoff-no-engine =
    .title = Otsi või sisesta aadress
# Variables
#  $engine (String): the name of the user's default search engine
about-private-browsing-handoff-text = Otsi otsingumootoriga { $engine } või sisesta veebiaadress
about-private-browsing-handoff-text-no-engine = Otsi või sisesta aadress
about-private-browsing-not-private = Sa pole praegu privaatses aknas.
about-private-browsing-info-description-private-window = Privaatne aken: kõigi privaatsete akende sulgemisel kustutab { -brand-short-name } sinu otsingu ja lehitsemise ajaloo. See ei tee sind anonüümseks.
about-private-browsing-info-description-simplified = Kõigi privaatsete akende sulgemisel kustutab { -brand-short-name } sinu otsingu ja lehitsemise ajaloo, aga see ei tee sind anonüümseks.
about-private-browsing-learn-more-link = Rohkem teavet

about-private-browsing-hide-activity = Peida oma tegevus ja asukoht kõikjal, kus veebi lehitsed
about-private-browsing-get-privacy = Hangi privaatsuse kaitse kõikjale, kus lehitsed veebi
about-private-browsing-hide-activity-1 = Peida lehitsemise tegevus ja asukoht { -mozilla-vpn-brand-name }iga. Üks klõps loob turvalise ühenduse isegi avalikus WiFis.
about-private-browsing-prominent-cta = Jää privaatseks { -mozilla-vpn-brand-name }iga

about-private-browsing-focus-promo-cta = Laadi alla { -focus-brand-name }
about-private-browsing-focus-promo-header = { -focus-brand-name }: privaatne veebilehtisemine liikvel olles
about-private-browsing-focus-promo-text = Meie spetsiaalne privaatse veebilehitsemise mobiiliäpp kustutab ajaloo ja küpsised iga kord.

## The following strings will be used for experiments in Fx99 and Fx100

about-private-browsing-focus-promo-header-b = Kasuta privaatset veebilehitsemist ka oma telefonis
about-private-browsing-focus-promo-text-b = Kasuta { -focus-brand-name }t nende otsingute jaoks, mida sa ei soovi, et sinu peamine mobiilne brauser näeks.
about-private-browsing-focus-promo-header-c = Järgmise taseme privaatsus mobiilis
about-private-browsing-focus-promo-text-c = { -focus-brand-name } kustutab sinu ajaloo iga kord, blokkides samal ajal reklaame ja jälitajaid.

# This string is the title for the banner for search engine selection
# in a private window.
# Variables:
#   $engineName (String) - The engine name that will currently be used for the private window.
about-private-browsing-search-banner-title = { $engineName } on privaatsete akende vaikeotsingumootor
about-private-browsing-search-banner-description =
    { PLATFORM() ->
        [windows] Teise otsingumootori valimiseks ava <a data-l10n-name="link-options">Sätted</a>
       *[other] Teise otsingumootori valimiseks ava <a data-l10n-name="link-options">Eelistused</a>
    }
about-private-browsing-search-banner-close-button =
    .aria-label = Sulge

about-private-browsing-promo-close-button =
    .title = Sulge
