# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

privatebrowsingpage-open-private-window-label = Digeriñ ur prenestr merdeiñ prevez
    .accesskey = p
about-private-browsing-search-placeholder = Klask er web
about-private-browsing-info-title = En ur prenestr merdeiñ prevez emaoc’h
about-private-browsing-search-btn =
    .title = Klask er web
# Variables
#  $engine (String): the name of the user's default search engine
about-private-browsing-handoff =
    .title = Klask gant { $engine } pe skrivañ ur chomlecʼh
about-private-browsing-handoff-no-engine =
    .title = Klask pe skrivañ ur chomlecʼh
# Variables
#  $engine (String): the name of the user's default search engine
about-private-browsing-handoff-text = Klask gant { $engine } pe skrivañ ur chomlecʼh
about-private-browsing-handoff-text-no-engine = Klask pe skrivañ ur chomlecʼh
about-private-browsing-not-private = N'emaoc’h ket e-barzh ur prenestr merdeiñ prevez.
about-private-browsing-info-description-private-window = Prenestr prevez: { -brand-short-name } a skarzh ho roll istor klask ha merdeiñ pa serrit ho holl brenestroù prevez. Ne lak ket ac’hanoc’h da vezañ dizanv.
about-private-browsing-info-description-simplified = { -brand-short-name } a skarzh ho roll istor klask ha merdeiñ pa serrit ho holl brenestroù prevez met ne lak ket ac’hanoc’h da vezañ dizanv.
about-private-browsing-learn-more-link = Gouzout hiroc’h

about-private-browsing-hide-activity = Kuzhit hoc’h oberiantiz ha lec’hiadur, e kement lec’h ma verdeit.
about-private-browsing-get-privacy = Gwarezit ho puhez prevez e pep lec’h ma verdeit
about-private-browsing-hide-activity-1 = Kuzhat hoc’h oberiantiz merdeiñ ha lec’hiadur gant { -mozilla-vpn-brand-name }. Ur c'hlik a grou ur c’hennask suraet, war ar rouedadoù Wi-Fi foran ivez soken.
about-private-browsing-prominent-cta = Chomit prevez gant { -mozilla-vpn-brand-name }

about-private-browsing-focus-promo-cta = Pellgargañ { -focus-brand-name }
about-private-browsing-focus-promo-header = { -focus-brand-name }: merdeiñ prevez hezoug
about-private-browsing-focus-promo-text = Hon arload hezoug arbennik war ar merdeiñ prevez a skarzh ho roll istor hag ho toupinoù bewech.

## The following strings will be used for experiments in Fx99 and Fx100

about-private-browsing-focus-promo-header-b = Kemerit ho puhez prevez gant ho pellgomzer
about-private-browsing-focus-promo-text-b = Grit gant { -focus-brand-name } evit ar c’hlaskoù prevez na fell ket deoc’h vefe gwelet gant ho merdeer hezoug pennañ.
about-private-browsing-focus-promo-header-c = Prevezded uhel war hezoug
about-private-browsing-focus-promo-text-c = { -focus-brand-name } a skarzh ho roll istor bewech ha stankañ a ra ar bruderezh hag an heulierien.

# This string is the title for the banner for search engine selection
# in a private window.
# Variables:
#   $engineName (String) - The engine name that will currently be used for the private window.
about-private-browsing-search-banner-title = { $engineName } eo ho lusker klask dre ziouer er prenestroù prevez
about-private-browsing-search-banner-description =
    { PLATFORM() ->
        [windows] Evit dibab ul lusker klask all, kit en <a data-l10n-name="link-options">Dibarzhioù</a>
       *[other] Evit dibab ul lusker klask all, kit er <a data-l10n-name="link-options">Gwellvezioù</a>
    }
about-private-browsing-search-banner-close-button =
    .aria-label = Serriñ

about-private-browsing-promo-close-button =
    .title = Serriñ
