# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

privatebrowsingpage-open-private-window-label = निजी विंडो खोलें
    .accesskey = P
about-private-browsing-search-placeholder = वेब पर खोजें
about-private-browsing-info-title = आप एक निजी विंडो में हैं
about-private-browsing-search-btn =
    .title = वेब पर खोजें
# Variables
#  $engine (String): the name of the user's default search engine
about-private-browsing-handoff =
    .title = { $engine } के साथ खोजें या पता दर्ज करें
about-private-browsing-handoff-no-engine =
    .title = खोजें या पता दर्ज करें
# Variables
#  $engine (String): the name of the user's default search engine
about-private-browsing-handoff-text = { $engine } के साथ खोजें या पता दर्ज करें
about-private-browsing-handoff-text-no-engine = खोजें या पता दर्ज करें
about-private-browsing-not-private = आप फिलहाल एक निजी विंडो में नहीं हैं.
about-private-browsing-learn-more-link = अधिक जानें

about-private-browsing-prominent-cta = { -mozilla-vpn-brand-name } के साथ निजी रहें

## The following strings will be used for experiments in Fx99 and Fx100

# This string is the title for the banner for search engine selection
# in a private window.
# Variables:
#   $engineName (String) - The engine name that will currently be used for the private window.
about-private-browsing-search-banner-title = निजी विंडोज में { $engineName } आपका डिफ़ॉल्ट खोज इंजन है
about-private-browsing-search-banner-description =
    { PLATFORM() ->
        [windows] एक अलग खोज इंजन का चयन करने के लिए <a data-l10n-name="link-options"> विकल्प </a> पर जाएं
       *[other] एक अलग खोज इंजन का चयन करने के लिए <a data-l10n-name="link-options"> वरीयताएं </a> पर जाएं
    }
about-private-browsing-search-banner-close-button =
    .aria-label = बंद करें

