# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.


### These strings are used inside the Accessibility panel.

accessibility-learn-more = আরও জানুন
accessibility-text-label-header = টেক্সট লেবেল এবং নাম
accessibility-keyboard-header = কীবোর্ড

## Text entries that are used as text alternative for icons that depict accessibility isses.

accessibility-warning =
    .alt = সতর্কীকরণ
accessibility-fail =
    .alt = ত্রুটি
accessibility-best-practices =
    .alt = সেরা অনুশীলন

## Text entries for a paragraph used in the accessibility panel sidebar's checks section
## that describe that currently selected accessible object has an accessibility issue
## with its text label or accessible name.

accessibility-text-label-issue-area = <span>href</span> বৈশিষ্ট্যযুক্ত <div>অঞ্চল</div> উপাদানসমূহে <code>Alt</code> বৈশিষ্ট্যটি ব্যবহার করুন। <a>আরও জানুন</a>
accessibility-text-label-issue-dialog = সংলাপ টি লেবেল হওয়া উচিত। <a> আরও শিখুন </a>
accessibility-text-label-issue-document-title = ডকুমেন্টে অবশ্যই একাটি <code>শিরনাম</code> থাকতে হবে। <a>আরও শিখুন</a>
accessibility-text-label-issue-embed = এম্বেডেড কন্টেন্ট এর অবশ্যই লেবেল থাকা উচিত। <a>আরও জানুন</a>
accessibility-text-label-issue-figure = ঐচ্ছিক ক্যাপশন সহ চিত্রগুলি লেবেলযুক্ত হওয়া উচিত। <a>আরও জানুন</a>
accessibility-text-label-issue-fieldset = <code>ফিল্ডসেট</code> উপাদান অবশ্যই লেবেল করা উচিৎ। <a>আরো জানুন</a>
accessibility-text-label-issue-fieldset-legend2 = <span>ফিল্ডসেট</span> লেবেল করতে <code>লেজেন্ড</code> উপাদানটি ব্যবহার করুন। <a>আরো জানুন</a>
accessibility-text-label-issue-form = ফর্মের এলিমেন্ট অবশ্যই লেবেল করা থাকতে হবে। <a>আরো জানুন</a>
accessibility-text-label-issue-form-visible = ফর্মের এলিমেন্টে একটি দৃশ্যমান পাঠ্য লেবেল থাকা উচিত। <a>আরো জানুন</a>
accessibility-text-label-issue-frame = <code>ফ্রেম</code> এলিমেন্ট অবশ্যই লেবেল করা থাকতে হবে। <a>আরো জানুন</a>
accessibility-text-label-issue-glyph = <span>mglyph</span> এলিমেন্ট লেবেল করতে <code>alt </code>অ্যাট্রিবিউট ব্যবহার করুন। <a>আরো জানুন</a>
accessibility-text-label-issue-heading = শিরোনাম অবশ্যই লেবেল করা উচিত। <a>আরও জানুন</a>
accessibility-text-label-issue-heading-content = শিরোনামে দৃশ্যমান লেখা থাকা উচিত। <a>আরো জানুন</a>
accessibility-text-label-issue-image = ছবি সহ কনটেন্টে অবশ্যই লেবেল করা থাকতে হবে। <a> আরও জানুন </a>
accessibility-text-label-issue-interactive = ইন্টারেক্টিভ এলিমেন্টগুলো অবশ্যই লেবেল করা থাকতে হবে। <a>আরো জানুন</a>
accessibility-text-label-issue-toolbar = যখন একাধিক টুলবার থাকে তখন অবশ্যই তাদের লেবেল করা উচিৎ। <a>আরো জানুন</a>

## Text entries for a paragraph used in the accessibility panel sidebar's checks section
## that describe that currently selected accessible object has a keyboard accessibility
## issue.

accessibility-keyboard-issue-semantics = ফোকাসযোগ্য এলিমেন্টে ইন্টারেক্টিভ সিমেনটিকস থাকা উচিত। <a> আরও জানুন </a>
accessibility-keyboard-issue-tabindex = শূন্যের চেয়ে বড় <code>ট্যাবইনডেক্স</code> অ্যাট্রিবিউট ব্যবহার করা থেকে বিরত থাকুন। <a>আরো জানুন</a>
accessibility-keyboard-issue-action = ইন্টারেক্টিভ এলিমেন্টগুলি একটি কীবোর্ড ব্যবহার করে সক্রিয় করতে সক্ষম হতে হবে। <a> আরও জানুন </a>
accessibility-keyboard-issue-focusable = ইন্টারেক্টিভ উপাদানসমূহ অবশ্যই ফোকাসযোগ্য হতে হবে। <a>আরও জানুন</a>
accessibility-keyboard-issue-focus-visible = ফোকাসযোগ্য এলিমেন্টের ফোকাস স্টাইলিং নাও থাকতে পারে। <a> আরও জানুন </a>
accessibility-keyboard-issue-mouse-only = ক্লিকযোগ্যযোগ্য উপাদানসমূহ অবশ্যই ফোকাসযোগ্য এবং ইন্টারেক্টিভ সিমেনটিকস হওয়া উচিত। <a>আরও জানুন</a>
