# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.


## Header lists

message-header-to-list-name = Para
message-header-from-list-name = De
message-header-sender-list-name = Remitente
message-header-reply-to-list-name = Responder a
message-header-cc-list-name = Cc
message-header-bcc-list-name = Cco
message-header-newsgroups-list-name = Grupos de noticias
message-header-tags-list-name = Etiquetas

## Other message headers.
## The field-separator is for screen readers to separate the field name from the field value.

message-header-author-field = Autor<span data-l10n-name="field-separator">:</span>
message-header-organization-field = Organización<span data-l10n-name="field-separator">:</span>
message-header-subject-field = Asunto<span data-l10n-name="field-separator">:</span>
message-header-followup-to-field = Seguimiento a <span data-l10n-name="field-separator">:</span>
message-header-date-field = Fecha<span data-l10n-name="field-separator">:</span>
message-header-user-agent-field = Agente de usuario<span data-l10n-name="field-separator">:</span>
message-header-references-field = Referencias<span data-l10n-name="field-separator">:</span>
message-header-message-id-field = ID de Mensaje<span data-l10n-name="field-separator">:</span>
message-header-in-reply-to-field = En respuesta a<span data-l10n-name="field-separator">:</span>
message-header-website-field = Sitio web<span data-l10n-name="field-separator">:</span>
# An additional email header field that the user has chosen to display. Unlike
# the other headers, the name of this header is not expected to be localised
# because it is generated from the raw field name found in the email header.
#   $fieldName (String) - The field name.
message-header-custom-field = { $fieldName }<span data-l10n-name="field-separator">:</span>

##

message-header-address-in-address-book-icon2 =
    .alt = En la Libreta de direcciones
message-header-address-not-in-address-book-icon2 =
    .alt = No en la Libreta de direcciones
message-header-address-not-in-address-book-button =
    .title = Guardar esta dirección en la Libreta de direcciones
message-header-address-in-address-book-button =
    .title = Editar contacto
message-header-field-show-more = Más
    .title = Mostrar todos los destinatarios
message-ids-field-show-all = Mostrar todo
