# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

privatebrowsingpage-open-private-window-label = Ga'nin riña 'ngo ventanahuìi
    .accesskey = h
about-private-browsing-search-placeholder = Nanà'uì' Web
about-private-browsing-info-title = Riña 'ngo bentanâ huìi nunt
about-private-browsing-not-private = Se riña ventana hua huìi nut akuan' nï
about-private-browsing-learn-more-link = Gāhuin chrūn doj

## The following strings will be used for experiments in Fx99 and Fx100

# This string is the title for the banner for search engine selection
# in a private window.
# Variables:
#   $engineName (String) - The engine name that will currently be used for the private window.
about-private-browsing-search-banner-title = { $engineName } huin sa nana'uì't nuguan'an ngà hua niña riña Private Windows
about-private-browsing-search-banner-description =
    { PLATFORM() ->
        [windows] Si ruhuât garasunt a'ngô sa riña nanà'uì't ni gui riña <a data-l10n-name="link-options">Sa huaa</a>
       *[other] Si ruhuât garasunt a'ngô sa riña nanà'uì't ni gui riña <a data-l10n-name="link-options">Sa aran' ruhuât doj</a>
    }
about-private-browsing-search-banner-close-button =
    .aria-label = Narán

