# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

# The title of the experiment should be kept in English as it may be referenced
# by various online articles and is technical in nature.
experimental-features-css-masonry2 =
    .label = CSS : Masonry Layout
experimental-features-css-masonry-description = Activa la presa en caarga de la foncionalitat experimentala CSS Masonry Layout. Consultatz <a data-l10n-name="explainer">aquesta explicacion</a> per una descripcion de naut nivèl de la foncionalitat. Per enviar vòstres comentaris, mercés de comentar dins <a data-l10n-name="w3c-issue">aqueste senhalament de bug</a> o <a data-l10n-name="bug">aqueste bug</a>.
# The title of the experiment should be kept in English as it may be referenced
# by various online articles and is technical in nature.
experimental-features-web-gpu2 =
    .label = Web API : WebGPU
experimental-features-web-gpu-description2 = Aquesta novèla API fornís una presa en carga de nivèl bas per efectuar de calculs e de rendiments grafics amb lo <a data-l10n-name="wikipedia">processor grafic</a> del periferic o de l’ordenador de l’utilizaire. L’<a data-l10n-name="spec">especificacion</a> es encara en òbra. Vejatz lo <a data-l10n-name="bugzilla">bug 1602129</a> per mai de detalhs.
# The title of the experiment should be kept in English as it may be referenced
# by various online articles and is technical in nature.
experimental-features-media-jxl =
    .label = Mèdia : JPEG XL
experimental-features-media-jxl-description = Quand aquesta foncionalitat es activada, { -brand-short-name } pren en carga lo format JPEG XL (JXL). S’agís d’un format de fichièr d’imatge amelhorat que pren en carga la transicion sens pèrda a partir dels fichièrs JPEG tradicionels. Vejatz lo <a data-l10n-name="bugzilla">bug 1539075</a> per mai de detalhs.
# The title of the experiment should be kept in English as it may be referenced
# by various online articles and is technical in nature.
experimental-features-css-constructable-stylesheets =
    .label = CSS : fuèlh d’estil constructible
experimental-features-css-constructable-stylesheets-description = L’apondon d’un constructor a l’interfàcia <a data-l10n-name="mdn-cssstylesheet">CSSStyleSheet</a> atal coma un ensemble de modificacions ligadas que permeton de crear dirèctament de fuèlhs d’estil novèls sans aver d’apondre aqueles al HTML. Facilita fòrça la creacion de fuèlhs d’estil reütilizables d’utilizar amb lo <a data-l10n-name="mdn-shadowdom">Shadow DOM</a>. Vejatz lo <a data-l10n-name="bugzilla">bug 1520690</a> per mai de detalhs.
experimental-features-devtools-compatibility-panel =
    .label = Aisinas de desvolopaires : panèl de compatibilitat
experimental-features-devtools-compatibility-panel-description = Un panèl lateral per l’inspector de pagina que mòstra informacions detalhadas de l’estat de compatibilitat entre navegadors de vòstra aplicacion. Veire lo <a data-l10n-name="bugzilla">bug 1584464</a> per mai de detalhs.
# Do not translate 'SameSite', 'Lax' and 'None'.
experimental-features-cookie-samesite-lax-by-default2 =
    .label = Cookies : SameSite=Lax per defaut
experimental-features-cookie-samesite-lax-by-default2-description = Tracta los cookies coma « SameSite=Lax » per defaut se l’atribut « SameSite » es pas especificat. Los desvolopaires devon causir l’estatut quo actual d’utilizacion sens cap de  restriccion en definissent explicitament « SameSite=None ».
# Do not translate 'SameSite', 'Lax' and 'None'.
experimental-features-cookie-samesite-none-requires-secure2 =
    .label = Cookies : SameSite=None requerís l’atribut secure
experimental-features-cookie-samesite-none-requires-secure2-description = Los cookies amb l’atribut « SameSite=None » devon téner l’atribut secure. Aquesta foncionalitat requerís l’activacion de « Cookies : SameSite=Lax per defaut ».
# about:home should be kept in English, as it refers to the the URI for
# the internal default home page.
experimental-features-abouthome-startup-cache =
    .label = Cache d’aviada about:home
experimental-features-abouthome-startup-cache-description = Un cache pel document inicial about:home qu’es cargat cada aviada. La tòca del cache es de melhorar las performanças d’aviada.
# The title of the experiment should be kept in English as it may be referenced
# by various online articles and is technical in nature.
experimental-features-cookie-samesite-schemeful =
    .label = Cookies : Schemeful SameSite
experimental-features-cookie-samesite-schemeful-description = Tracta los cookies del meteis domeni mas amb d’esquèmas diferents (per exemple http://example.com e https://example.com) coma venent de sites diferents allòc d’un meteis site. Melhora la seguretat, mas còpa potencialament de causas.
# "Service Worker" is an API name and is usually not translated.
experimental-features-devtools-serviceworker-debugger-support =
    .label = Aisinas de desvolopament : debuggatge del service worker
# "Service Worker" is an API name and is usually not translated.
experimental-features-devtools-serviceworker-debugger-support-description = Activa la presa en carga experimentala dels Service workers dins lo panèl de desbugatge. Aquesta foncionalitat pòt alentar las aisinas de desvolopament e aumentar la consomacion de memòria.
# WebRTC global mute toggle controls
experimental-features-webrtc-global-mute-toggles =
    .label = Interruptor global del son WebRTC
experimental-features-webrtc-global-mute-toggles-description = Ajusta de comandas a l’indicator de partiment global WebRTC que permeton als utilizaires de desactivar lor microfòn e los flux de la camèra.
# JS JIT Warp project
experimental-features-js-warp =
    .label = JavaScript JIT : Warp
experimental-features-js-warp-description = Activa Warp, un projècte per melhorar las qualitats tecnicas de JavaScript e l’utilizacion memòria.
# Search during IME
experimental-features-ime-search =
    .label = Barra d’adreça : afichar los resultats pendent la composicion IME
experimental-features-ime-search-description = Un IME (Input Method Editor, editor de metòde de picada) es una aisina que permet la picada de simbòls complexes, tals coma los utilizats per escriure las lengas indianas las d’Asia de l’Èst en utilizant un clavièr ordinari. Activar aquesta experiéncia ten dubèrt lo panèl de la barra d’adreça qu’aficha los resultats de recèrca e de suggestions, pendent que l’IME es utilizat per la picada de tèxtes. Notatz que l’IME poiriá afichar un panèl que cobrís los resultats de recèrca, per consequéncia aquesta preferéncia es sonque suggerida pels IME qu’utilizan pas aquesta mena de panèl.
# Text recognition for images
experimental-features-text-recognition =
    .label = Reconeissença de tèxtes
experimental-features-text-recognition-description = Activar las foncionalitats per reconéisser lo tèxte dels imatges.
