# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, you can obtain one at http://mozilla.org/MPL/2.0/.

import-page-title = Importować
export-page-title = Eksportować

## Header

import-start = Importowanski nastroj
import-start-title = Nastajenja abo daty z nałoženja abo dataje importować.
import-start-description = Wubjerće žórło, z kotrehož chceće importować. Proša was podźišo wubrać, kotre daty maja so importować.
import-from-app = Z nałoženja importować
import-file = Z dataje importować
import-file-title = Wubjerće dataju, zo byšće jeje wobsah importował.
import-file-description = Wubjerće, zo byšće do toho zawěsćeny profil, adresniki abo protyki importował.
import-address-book-title = Adresnikowu dataju importować
import-calendar-title = Dataju protyki importować
export-profile = Eksportować

## Buttons

button-back = Wróćo
button-continue = Dale
button-export = Eksportować
button-finish = Dokónčić

## Import from app steps

app-name-thunderbird = Thunderbird
app-name-seamonkey = SeaMonkey
app-name-outlook = Outlook
app-name-becky = Becky! Internet Mail
app-name-apple-mail = Apple Mail
source-thunderbird = Z druheje instalacije { app-name-thunderbird } importować
source-thunderbird-description = Nastajenja, filtry, powěsće a druhe daty z profila { app-name-thunderbird } importować
source-seamonkey = Z instalacije { app-name-seamonkey } importować
source-seamonkey-description = Nastajenja, filtry, powěsće a druhe daty z profila { app-name-seamonkey } importować
source-outlook = Z { app-name-outlook } importować
source-outlook-description = Konta, adresniki a powěsće z { app-name-outlook } importować.
source-becky = Z { app-name-becky } importować
source-becky-description = Adresniki a powěsće z { app-name-becky } importować.
source-apple-mail = Z { app-name-apple-mail } importować
source-apple-mail-description = Powěsće z { app-name-apple-mail } importować.
source-file2 = Z dataje importować
source-file-description = Wubjerće dataju, zo byšće adresniki, protyki abo profilowe zawěsćenje (ZIP-dataju) importował.

## Import from file selections

file-profile2 = Zawěsćeny profil importować
file-profile-description = Wubjerće do toho zawěsćeny profil Thunderbird (.zip)
file-calendar = Protyki importować
file-calendar-description = Wubjerće dataju, kotraž eksportowane protyki abo podawki wobsahuje (.ics)
file-addressbook = Adresniki importować
file-addressbook-description = Wubjerće dataju, kotraž eksportowane adresniki a kontakty wobsahuje

## Import from app profile steps

from-app-thunderbird = Z profila { app-name-thunderbird } importować
from-app-seamonkey = Z profila { app-name-seamonkey } importować
from-app-outlook = Z { app-name-outlook } importować
from-app-becky = Z { app-name-becky } importować
from-app-apple-mail = Z { app-name-apple-mail } importować
profiles-pane-title-thunderbird = Nastajenja a daty z profila { app-name-thunderbird } importować
profiles-pane-title-seamonkey = Nastajenja a daty z profila { app-name-seamonkey } importować
profiles-pane-title-outlook = Daty z { app-name-outlook } importować.
profiles-pane-title-becky = Daty z { app-name-becky } importować.
profiles-pane-title-apple-mail = Powěsće z { app-name-apple-mail } importować.
profile-source = Z profila importować
# $profileName (string) - name of the profile
profile-source-named = Z profila <strong>"{ $profileName }"</strong> importować
profile-file-picker-directory = Profilowy rjadowak wubrać
profile-file-picker-archive = <strong>ZIP</strong>-dataju wubrać
profile-file-picker-archive-description = ZIP-dataja dyrbi mjeńša hač 2 GB być.
profile-file-picker-archive-title = Wubjerće ZIP-dataju (mjeńšu hač 2 GB)
items-pane-title2 = Wubjerće, štož ma so importować:
items-pane-directory = Zapis:
items-pane-profile-name = Profilowe mjeno:
items-pane-checkbox-accounts = Konta a nastajenja
items-pane-checkbox-address-books = Adresniki
items-pane-checkbox-calendars = Protyki
items-pane-checkbox-mail-messages = Mejlki
items-pane-override = Eksistowace abo identiske daty so njepřepisaja.

## Import from address book file steps

import-from-addr-book-file-description = Wubjerće datajowy format, kotryž waše adresnikowe daty wobsahuje.
addr-book-csv-file = Dataja dźělena přez komu abo rajtark (.csv, .tsv)
addr-book-ldif-file = Dataja LDIF (.ldif)
addr-book-vcard-file = Dataja vCard (.vcf, .vcard)
addr-book-sqlite-file = Dataja datoweje banki SQLite (.sqlite)
addr-book-mab-file = Dataja datoweje banki Mork (.mab)
addr-book-file-picker = Adresnikowu dataju wubrać
addr-book-csv-field-map-title = Pólnym mjenam wotpowědować
addr-book-csv-field-map-desc = Wubjerće pola adresnika, kotrež žórłowym polam wotpowěduja. Znjemóžńće pola, kotrež nochceće importować.
addr-book-directories-title = Wubjerće, hdźež ma so wubrane daty importować.
addr-book-directories-pane-source = Žórłowa dataja:
# $addressBookName (string) - name of the new address book that would be created.
addr-book-import-into-new-directory2 = Wutworće nowy zapis z mjenom <strong>„{ $addressBookName }“</strong>
# $addressBookName (string) - name of the address book to import into
addr-book-summary-title = Importujće wubrane daty do zapisa „{ $addressBookName }“
# $addressBookName (string) - name of the address book that will be created.
addr-book-summary-description = Nowy adresnik z mjenom „{ $addressBookName }“ so wutwori.

## Import from calendar file steps

import-from-calendar-file-desc = Wubjerće dataju iCalendar (.ics), kotruž chceće importować:
calendar-items-title = Wubjerće elementy za importowanje.
calendar-items-loading = Zapiski so čitaja…
calendar-items-filter-input =
    .placeholder = Zapiski filtrować…
calendar-select-all-items = Wšě wubrać
calendar-deselect-all-items = Wšě wotwolić
calendar-target-title = Wubjerće, hdźež ma so wubrane elementy importować.
# $targetCalendar (string) - name of the new calendar that would be created
calendar-import-into-new-calendar2 = Wutworće nowu protyku z mjenom <strong>„{ $targetCalendar }“</strong>
# $itemCount (number) - count of selected items (tasks, events) that will be imported
# $targetCalendar (string) - name of the calendar the items will be imported into
calendar-summary-title =
    { $itemCount ->
        [one] { $itemCount } element do protyki „{ $targetCalendar }“ importować
        [two] { $itemCount } elementaj do protyki „{ $targetCalendar }“ importować
        [few] { $itemCount } elementy do protyki „{ $targetCalendar }“ importować
       *[other] { $itemCount } elementow do protyki „{ $targetCalendar }“ importować
    }
# $targetCalendar (string) - name of the calendar that will be created
calendar-summary-description = Nowa protyka z mjenom „{ $targetCalendar }“ so wutwori.

## Import dialog

# $progressPercent (string) - percent formatted progress (for example "10%")
progress-pane-importing2 = Importuje so… { $progressPercent }
# $progressPercent (string) - percent formatted progress (for example "10%")
progress-pane-exporting2 = Eksportuje so… { $progressPercent }
progress-pane-finished-desc2 = Dokónčene.
error-pane-title = Zmylk
error-message-zip-file-too-big2 = Wubrana ZIP-dataja je wjetša hač 2 GB. Prošu rozpakujće ju najprjedy, a importujće wobsah z rozpakowaneho rjadowaka město toho.
error-message-extract-zip-file-failed2 = ZIP-dataja njeda so rozbalić. Prošu wupakujće ju manuelnje a importujće ju potom město toho z ekstrahowaneho rjadowaka.
error-message-failed = Importowanje je so njenadźicy nimokuliło, dalše informacije namakaće snano w zmylkowej konsoli.
error-failed-to-parse-ics-file = Importujomne zapiski njejsu so w dataji namakali.
error-export-failed = Eksportowanje je so njenadźicy nimokuliło, dalše informacije namakaće snano w zmylkowej konsoli.
error-message-no-profile = Žadyn profil namakany.

## <csv-field-map> element

csv-first-row-contains-headers = Prěnja linka mjena polow wobsahuje
csv-source-field = Žórłowe polo
csv-source-first-record = Prěnja datowa sadźba
csv-source-second-record = Druha datowa sadźba
csv-target-field = Polo adresnika

## Export tab

export-profile-title = Konta, powěsće, adresniki a nastajenja do ZIP-dataje eksportować.
export-profile-description = Jeli waš aktualny profil je wjetši hač 2 GB, namjetujemy, zo jón zawěsćeće.
export-open-profile-folder = Profilowy rjadowak wočinić
export-file-picker2 = Do ZIP-dataje eksportować
export-brand-name = { -brand-product-name }

## Summary pane

summary-pane-title = Daty, kotrež so maja importować
summary-pane-start = Import započeć
summary-pane-warning = Dyrbiće { -brand-product-name } znowa startować, zo by so importowanje dokónčiło.
summary-pane-start-over = Importowanski nastroj znowa startować

## Footer area

footer-help = Trjebaće pomoc?
footer-import-documentation = Importowanska dokumentacija
footer-export-documentation = Eksportowanska dokumentacija
footer-support-forum = Forum pomocy

## Step navigation on top of the wizard pages

step-list =
    .aria-label = Importowanske kroki
step-confirm = Wobkrućić
# Variables:
# $number (number) - step number
step-count = { $number }
