# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.


## Header lists

message-header-to-list-name = Кому
message-header-from-list-name = Від
message-header-sender-list-name = Відправник
message-header-reply-to-list-name = Відповідь
message-header-cc-list-name = Копія
message-header-bcc-list-name = Прихована копія
message-header-newsgroups-list-name = Групи новин
message-header-tags-list-name = Мітки

## Other message headers.
## The field-separator is for screen readers to separate the field name from the field value.

message-header-author-field = Автор<span data-l10n-name="field-separator">:</span>
message-header-organization-field = Організація<span data-l10n-name="field-separator">:</span>
message-header-subject-field = Тема<span data-l10n-name="field-separator">:</span>
message-header-followup-to-field = Доповнення до<span data-l10n-name="field-separator">:</span>
message-header-date-field = Дата<span data-l10n-name="field-separator">:</span>
message-header-user-agent-field = User agent<span data-l10n-name="field-separator">:</span>
message-header-references-field = Посилання<span data-l10n-name="field-separator">:</span>
message-header-message-id-field = ID повідомлення<span data-l10n-name="field-separator">:</span>
message-header-in-reply-to-field = У відповідь на<span data-l10n-name="field-separator">:</span>
message-header-website-field = Вебсайт<span data-l10n-name="field-separator">:</span>
# An additional email header field that the user has chosen to display. Unlike
# the other headers, the name of this header is not expected to be localised
# because it is generated from the raw field name found in the email header.
#   $fieldName (String) - The field name.
message-header-custom-field = { $fieldName }<span data-l10n-name="field-separator">:</span>

##

message-header-address-in-address-book-icon2 =
    .alt = В адресній книзі
message-header-address-not-in-address-book-icon2 =
    .alt = Немає в адресній книзі
message-header-address-not-in-address-book-button =
    .title = Зберегти цю адресу в адресній книзі
message-header-address-in-address-book-button =
    .title = Змінити контакт
message-header-field-show-more = Більше
    .title = Показати всіх одержувачів
message-ids-field-show-all = Показати все
