# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

privatebrowsingpage-open-private-window-label = Tijaq jun Ichinan Tzuwäch
    .accesskey = I
about-private-browsing-search-placeholder = Tikanöx pan Ajk'amaya'l
about-private-browsing-info-title = At k'o pa jun Ichinan Tzuwäch
about-private-browsing-search-btn =
    .title = Tikanöx pan ajk'amaya'l
# Variables
#  $engine (String): the name of the user's default search engine
about-private-browsing-handoff =
    .title = Takanoj pa { $engine } o tatz'ib'aj ri rochochib'al
about-private-browsing-handoff-no-engine =
    .title = Tikanöx o titz'ib'äx ochochib'äl
# Variables
#  $engine (String): the name of the user's default search engine
about-private-browsing-handoff-text = Takanoj pa { $engine } o tatz'ib'aj ri rochochib'al
about-private-browsing-handoff-text-no-engine = Tikanöx o titz'ib'äx ochochib'äl
about-private-browsing-not-private = Wakami man at k'o ta chupam jun ichinan tzuwäch.
about-private-browsing-info-description-private-window = Ichinan tzuwäch: { -brand-short-name } nuyüj ri runatab'al xakanoj chuqa' awokik'amaya'l toq ye'atz'apij ri ichinan taq tzuwäch, po man yatrewaj ta.
about-private-browsing-info-description-simplified = { -brand-short-name } nuyüj ri runatab'al xakanoj chuqa' awokik'amaya'l toq ye'atz'apij ri ichinan taq tzuwäch, po man yatrewaj ta.
about-private-browsing-learn-more-link = Tetamäx ch'aqa' chik

about-private-browsing-hide-activity = Tawewaj ri asamaj chuqa' ri ak'ojlib'al, xab'akuchi' at k'o wi
about-private-browsing-get-privacy = Tak'ulu' ato'ik pa ruwi' ichinanem xab'akuchi' yatok wi pa k'amaya'l
about-private-browsing-hide-activity-1 = Tawewaj ri asamaj pa ruwi' okem pa k'amaya'l chuqa' ri ak'ojlib'al rik'in { -mozilla-vpn-brand-name }. Jun pitz'oj nunük' jun jikïl okem, achi'el chuqa' pa winaqil Wi-Fi.
about-private-browsing-prominent-cta = Tachajij ri awichinanem rik'in { -mozilla-vpn-brand-name }

## The following strings will be used for experiments in Fx99 and Fx100

# This string is the title for the banner for search engine selection
# in a private window.
# Variables:
#   $engineName (String) - The engine name that will currently be used for the private window.
about-private-browsing-search-banner-title = Ja ri { $engineName } awokik'amaya'l k'o wakami kichin Ichinan taq Tzuwäch
about-private-browsing-search-banner-description =
    { PLATFORM() ->
        [windows] Richin nicha' jun chik okik'amaya'l, jät pa <a data-l10n-name="link-options">Taq Cha'oj</a>
       *[other] Richin nicha' jun chik okik'amaya'l, jät pa <a data-l10n-name="link-options">Taq Ajowab'äl</a>
    }
about-private-browsing-search-banner-close-button =
    .aria-label = Titz'apïx

