# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.


## Header lists

message-header-to-list-name = A
message-header-from-list-name = Ab
message-header-sender-list-name = Expeditor
message-header-reply-to-list-name = Responder a
message-header-cc-list-name = CC
message-header-bcc-list-name = Ccn
message-header-newsgroups-list-name = Gruppos de discussion
message-header-tags-list-name = Etiquettas

## Other message headers.
## The field-separator is for screen readers to separate the field name from the field value.

message-header-author-field = Autor<span data-l10n-name="field-separator">:</span>
message-header-organization-field = Organisation<span data-l10n-name="field-separator">:</span>
message-header-subject-field = Subjecto<span data-l10n-name="field-separator">:</span>
message-header-followup-to-field = Inultrar a<span data-l10n-name="field-separator">:</span>
message-header-date-field = Data<span data-l10n-name="field-separator">:</span>
message-header-user-agent-field = Agente usator<span data-l10n-name="field-separator">:</span
message-header-references-field = Referentias<span data-l10n-name="field-separator">:</span>
message-header-message-id-field = ID de Message<span data-l10n-name="field-separator">:</span>
message-header-in-reply-to-field = In responsa a<span data-l10n-name="field-separator">:</span>
message-header-website-field = Sito web<span data-l10n-name="field-separator">:</span>
# An additional email header field that the user has chosen to display. Unlike
# the other headers, the name of this header is not expected to be localised
# because it is generated from the raw field name found in the email header.
#   $fieldName (String) - The field name.
message-header-custom-field = { $fieldName }<span data-l10n-name="field-separator">:</span>

##

message-header-address-in-address-book-icon2 =
    .alt = In le libro del adresses
message-header-address-not-in-address-book-icon2 =
    .alt = Non in le libro del adresses
message-header-address-not-in-address-book-button =
    .title = Salvar iste adresse in le libro del adresses
message-header-address-in-address-book-button =
    .title = Rediger le contacto
message-header-field-show-more = Plus
    .title = Monstra tote le destinatarios
message-ids-field-show-all = Monstrar toto
