# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

about-httpsonly-title-alert = Alerta del modo solo HTTPS
about-httpsonly-title-site-not-available = Sito secur non disponibile

# Variables:
#   $websiteUrl (String) - Url of the website that failed to load. Example: www.example.com
about-httpsonly-explanation-unavailable2 = Tu ha activate le modo solo HTTPS pro melior securitate, ma non es disponibile un version HTTPS de <em>{ $websiteUrl }</em>.
about-httpsonly-explanation-question = Cosa pote causar lo?
about-httpsonly-explanation-nosupport = Multo probabilemente, le sito web simplemente non supporta HTTPS.
about-httpsonly-explanation-risk = Il es alsi possibile que un attaccante es implicate. Si tu decide visitar le sito web, tu non deberea inserer ulle datos sensibile como contrasignos, emails o detalios del carta de credito.
about-httpsonly-explanation-continue = Si tu continua, le modo solo HTTPS essera temporarimente disactivate pro iste sito.

about-httpsonly-button-continue-to-site = Continuar al sito HTTP
about-httpsonly-button-go-back = Retornar
about-httpsonly-link-learn-more = Saper plus…

## Suggestion Box that only shows up if a secure connection to www can be established
## Variables:
##   $websiteUrl (String) - Url of the website that can be securely loded with these alternatives. Example: example.com

about-httpsonly-suggestion-box-header = Alternativa possibile
about-httpsonly-suggestion-box-www-text = Il ha un version secur de <em>www.{ $websiteUrl }</em>. Tu pote visitar iste pagina in vice de <em>{ $websiteUrl }<em>.
about-httpsonly-suggestion-box-www-button = Va a www.{ $websiteUrl }
