# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

privatebrowsingpage-open-private-window-label = Odpri zasebno okno
    .accesskey = Z
about-private-browsing-search-placeholder = Iskanje po spletu
about-private-browsing-info-title = Ste v zasebnem oknu
about-private-browsing-search-btn =
    .title = Išči po spletu
# Variables
#  $engine (String): the name of the user's default search engine
about-private-browsing-handoff =
    .title = Iščite z iskalnikom { $engine } ali vnesite naslov
about-private-browsing-handoff-no-engine =
    .title = Iskanje ali naslov strani
# Variables
#  $engine (String): the name of the user's default search engine
about-private-browsing-handoff-text = Iščite z iskalnikom { $engine } ali vnesite naslov
about-private-browsing-handoff-text-no-engine = Iskanje ali naslov strani
about-private-browsing-not-private = Trenutno niste v zasebnem oknu.
about-private-browsing-info-description-private-window = Zasebno okno: { -brand-short-name } ob zaprtju vseh zasebnih oken izbriše njihovo zgodovino iskanja in brskanja. To še ne pomeni, da ste anonimni.
about-private-browsing-info-description-simplified = { -brand-short-name } izbriše zgodovino iskanja in brskanja, ko zaprete vsa zasebna okna, vendar to še ne pomeni, da ste anonimni.
about-private-browsing-learn-more-link = Več o tem

about-private-browsing-hide-activity = Skrijte svojo dejavnost in lokacijo povsod, kjer brskate
about-private-browsing-get-privacy = Zaščitite svojo zasebnost, kjerkoli brskate
about-private-browsing-hide-activity-1 = Skrijte svojo dejavnost in lokacijo z { -mozilla-vpn-brand-name }. Z enim klikom vzpostavite varno povezavo, celo na javnih omrežjih Wi-Fi.
about-private-browsing-prominent-cta = Ohranite svojo zasebnost z { -mozilla-vpn-brand-name }

about-private-browsing-focus-promo-cta = Prenesite { -focus-brand-name }
about-private-browsing-focus-promo-header = { -focus-brand-name }: Prenosno zasebno brskanje
about-private-browsing-focus-promo-text = Naša namenska aplikacija za zasebno brskanje po vsakem brskanju počisti zgodovino in piškotke.

## The following strings will be used for experiments in Fx99 and Fx100

about-private-browsing-focus-promo-header-b = Brskajte zasebno tudi na telefonu
about-private-browsing-focus-promo-text-b = Uporabite { -focus-brand-name } za tista zasebna iskanja, za katera ne želite, da jih vidi vaš glavni mobilni brskalnik.
about-private-browsing-focus-promo-header-c = Zasebnost višjega razreda za mobilne naprave
about-private-browsing-focus-promo-text-c = { -focus-brand-name } vsakič počisti vašo zgodovino ter zavrača oglase in sledilce.

# This string is the title for the banner for search engine selection
# in a private window.
# Variables:
#   $engineName (String) - The engine name that will currently be used for the private window.
about-private-browsing-search-banner-title = { $engineName } je vaš privzeti iskalnik v zasebnih oknih
about-private-browsing-search-banner-description =
    { PLATFORM() ->
        [windows] Če želite izbrati drug iskalnik, pojdite v <a data-l10n-name="link-options">Možnosti</a>
       *[other] Če želite izbrati drug iskalnik, pojdite v <a data-l10n-name="link-options">Nastavitve</a>
    }
about-private-browsing-search-banner-close-button =
    .aria-label = Zapri

about-private-browsing-promo-close-button =
    .title = Zapri
