# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

privatebrowsingpage-open-private-window-label = கமுக்க சாளரத்தைத் திற
    .accesskey = P
about-private-browsing-search-placeholder = இணையத்தில் தேடு
about-private-browsing-info-title = நீங்கள் ஒரு கமுக்க சாளரத்தில் இருக்கிறீர்கள்
about-private-browsing-not-private = நீங்கள் தற்போது கமுக்க சாளரத்தில் இல்லை.

## The following strings will be used for experiments in Fx99 and Fx100

# This string is the title for the banner for search engine selection
# in a private window.
# Variables:
#   $engineName (String) - The engine name that will currently be used for the private window.
about-private-browsing-search-banner-title = { $engineName } உங்கள் கமுக்க சாளரத்தின் இயல்புநிலை தேடுபொறி
about-private-browsing-search-banner-description =
    { PLATFORM() ->
        [windows] வேறு தேடுபொறியைத் தேர்ந்தெடுக்க <a data-l10n-name="link-options">விருப்பங்களுக்குச்</a> செல்லவும்
       *[other] வேறு தேடுபொறியைத் தேர்ந்தெடுக்க <a data-l10n-name="link-options">முன்னுரிமைகளுக்குச்</a> செல்லவும்
    }
about-private-browsing-search-banner-close-button =
    .aria-label = மூடு

