# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

# The title of the experiment should be kept in English as it may be referenced
# by various online articles and is technical in nature.
experimental-features-css-masonry2 =
    .label = CSS: Masonry Layout
experimental-features-css-masonry-description = Activa le assistentia al functionalitate de mappa Masonry CSS experimental. Vide le <a data-l10n-name="explainer">explainer</a> pro un alte nivello de description del functionalitate. Pro fornir commentarios, per favor commenta in <a data-l10n-name="w3c-issue">iste problema de GitHub</a> o <a data-l10n-name="bug">iste error</a>
# The title of the experiment should be kept in English as it may be referenced
# by various online articles and is technical in nature.
experimental-features-web-gpu2 =
    .label = Web API: WebGPU
experimental-features-web-gpu-description2 = Iste nove API offere le supporto a basse nivello pro prestationes de computation e rendition graphic per le <a data-l10n-name="wikipedia">Unitate de Processo Graphic - (GPU)</a> del apparato del usator. Le <a data-l10n-name="spec">specificationes</a> es ancora un labor in curso. Vide <a data-l10n-name="bugzilla">bug 1602129</a> pro altere detalios.
# The title of the experiment should be kept in English as it may be referenced
# by various online articles and is technical in nature.
experimental-features-media-jxl =
    .label = Medios: JPEG XL
experimental-features-media-jxl-description = Con iste function activate, { -brand-short-name } supporta le formato JPEG XL (JXL). Isto es un formato de file imagine meliorate que supporta sin perditas le transition ab le traditional files JPEG. Vide <a data-l10n-name="bugzilla">bug 1539075</a> pro altere detalios.
# The title of the experiment should be kept in English as it may be referenced
# by various online articles and is technical in nature.
experimental-features-css-constructable-stylesheets =
    .label = CSS: Constructable Stylesheets
experimental-features-css-constructable-stylesheets-description = Le addition de un constructor al interfacie  <a data-l10n-name="mdn-cssstylesheet">CSSStyleSheet</a>  e un varietate de cambiamentos correlate rende possibile crear directemente nove folios de stilo sin deber adder le folio al HTML. Iste rende multo plus facile crear folios de stilo reusabile pro <a data-l10n-name="mdn-shadowdom">Shadow DOM</a>. Vide <a data-l10n-name="bugzilla">bug 1520690</a> pro altere detalios.
experimental-features-devtools-compatibility-panel =
    .label = Utensiles de disveloppator: quadro compatibilitate
experimental-features-devtools-compatibility-panel-description = Un quadro lateral pro le Inspector de pagina que te monstra informationes detaliate super le stato de compatibilitate inter le navigatores de tu application. Vide <a data-l10n-name="bugzilla">bug 1584464</a> pro altere detalios.
# Do not translate 'SameSite', 'Lax' and 'None'.
experimental-features-cookie-samesite-lax-by-default2 =
    .label = Cookie: SameSite=lax predefinite
experimental-features-cookie-samesite-lax-by-default2-description = Tractar cookies como “SameSite=lax” predefinite si nulle attributo “sameSite” es specificate. Le disveloppatores debe eliger le actual stato de utilisation sin restrictiones per definir explicitemente “SameSite=none”.
# Do not translate 'SameSite', 'Lax' and 'None'.
experimental-features-cookie-samesite-none-requires-secure2 =
    .label = Cookies: SameSite=None require le attributo secur
experimental-features-cookie-samesite-none-requires-secure2-description = Le cookies con attributo “SameSite=None” require le attributo "secure". Iste function require “Cookies: SameSite=Lax predefinite”.
# about:home should be kept in English, as it refers to the the URI for
# the internal default home page.
experimental-features-abouthome-startup-cache =
    .label = Cache de initio pro about:home
experimental-features-abouthome-startup-cache-description = Un cache pro le contento initial del pagina about:home que es normalmente cargate al initio. Le cache es pro augmentar le velocitate del initialisation.
# The title of the experiment should be kept in English as it may be referenced
# by various online articles and is technical in nature.
experimental-features-cookie-samesite-schemeful =
    .label = Cookies: Schemeful SameSite
experimental-features-cookie-samesite-schemeful-description = Tracta cookies del mesme dominio, ma con differente schemas (e.g. http://example.com e https://example.com) como inter sitos in vice de proveniente del mesme sito. Meliora le securitate, ma pote introducer problemas.
# "Service Worker" is an API name and is usually not translated.
experimental-features-devtools-serviceworker-debugger-support =
    .label = Utensiles de disveloppator: depuration de obrero de servicio
# "Service Worker" is an API name and is usually not translated.
experimental-features-devtools-serviceworker-debugger-support-description = Activa supporto experimental pro Service Workers in le quadro Depurator. Iste function pote relentar le Utensiles de disveloppator e augmentar le consumption de memoria.
# WebRTC global mute toggle controls
experimental-features-webrtc-global-mute-toggles =
    .label = Activar/disactivar audio e video WebRTC globalmente
experimental-features-webrtc-global-mute-toggles-description = Adder controlos al indicator de compartimento global WebRTC que permitte al usatores de silentiar globalmente le fluxos de lor microphono e camera.
# JS JIT Warp project
experimental-features-js-warp =
    .label = JavaScript JIT: Warp
experimental-features-js-warp-description = Activar Warp, un projecto pro meliorar prestation e uso de memoria de JavaScript.
# Search during IME
experimental-features-ime-search =
    .label = Barra de adresse: monstrar resultatos durante le composition IME
experimental-features-ime-search-description = Un IME (Input Method Editor, editor a methodos de entrata) es un utensile que te permitte scriber symbolos complexe, como illos usate pro scriber in linguas est-asiatic o indic, usante un claviero standard. Iste experimento mantenera le pannello del barra de adresse aperte, monstrante le resultatos e suggestiones de recerca durante que tu usa IME pro entrar texto. Nota que le IME pote monstrar un pannello que coperi le resultatos del barra de adresse, dunque iste preferentia es solo suggerite pro IME que non usa iste typo de pannello.
# Text recognition for images
experimental-features-text-recognition =
    .label = Recognition de texto
experimental-features-text-recognition-description = Activar functionalitates pro recognoscer texto ex imagines.
