# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, you can obtain one at http://mozilla.org/MPL/2.0/.

import-page-title = Flytja inn
export-page-title = Flytja út

## Header

import-start = Innflutningsverkfæri
import-start-title = Flytja inn stillingar eða gögn úr forriti eða skrá.
import-start-description = Veldu uppruna gagnanna sem þú vilt flytja inn frá. Þú velur síðar hvaða gögn eigi að flytja inn.
import-from-app = Flytja inn úr forriti
import-file = Flytja inn úr skrá
import-file-title = Veldu skrá til að flytja inn efni hennar.
import-file-description = Veldu að flytja inn áður afritað notandasnið, nafnaskrár eða dagatöl.
import-address-book-title = Flytja inn nafnaskrá
import-calendar-title = Flytja inn dagatalsskrá
export-profile = Flytja út

## Buttons

button-back = Til baka
button-continue = Halda áfram
button-export = Flytja út
button-finish = Ljúka

## Import from app steps

app-name-thunderbird = Thunderbird
app-name-seamonkey = SeaMonkey
app-name-outlook = Outlook
app-name-becky = Becky! Internet Mail
app-name-apple-mail = Apple Mail
source-thunderbird = Flytja inn úr annarri { app-name-thunderbird } uppsetningu
source-thunderbird-description = Flytja inn stillingar, síur, skilaboð og önnur og gögn úr { app-name-thunderbird } notandasniði.
source-seamonkey = Flytja inn úr { app-name-seamonkey } uppsetningu
source-seamonkey-description = Flytja inn stillingar, síur, skilaboð og önnur og gögn úr { app-name-seamonkey } notandasniði.
source-outlook = Flytja inn úr { app-name-outlook }
source-outlook-description = Flytja inn reikninga, nafnaskrár og skilaboð frá { app-name-outlook }.
source-becky = Flytja inn úr { app-name-becky }
source-becky-description = Flytja inn nafnaskrár og skilaboð frá { app-name-becky }.
source-apple-mail = Flytja inn úr { app-name-apple-mail }
source-apple-mail-description = Flytja inn skilaboð frá { app-name-apple-mail }.
source-file2 = Flytja inn úr skrá
source-file-description = Veldu skrá til að flytja inn úr nafnaskrár, dagatöl eða öryggisafrit af notandasniði (ZIP-skrá).

## Import from file selections

file-profile2 = Flytja inn afritað notandasnið
file-profile-description = Veldu áður afritað Thunderbird-notandasnið (.zip)
file-calendar = Flytja inn dagatöl
file-calendar-description = Veldu skrá sem inniheldur útflutt dagatöl eða atburði (.ics)
file-addressbook = Flytja inn nafnaskrár
file-addressbook-description = Veldu skrá sem inniheldur útfluttar nafnaskrár og tengiliði

## Import from app profile steps

from-app-thunderbird = Flytja inn úr { app-name-thunderbird } notandasniði
from-app-seamonkey = Flytja inn úr { app-name-seamonkey } notandasniði
from-app-outlook = Flytja inn úr { app-name-outlook }
from-app-becky = Flytja inn úr { app-name-becky }
from-app-apple-mail = Flytja inn úr { app-name-apple-mail }
profiles-pane-title-thunderbird = Flytja inn stillingar og gögn úr { app-name-thunderbird } notandasniði.
profiles-pane-title-seamonkey = Flytja inn stillingar og gögn úr { app-name-seamonkey } notandasniði.
profiles-pane-title-outlook = Flytja inn gögn úr { app-name-outlook }.
profiles-pane-title-becky = Flytja inn gögn úr { app-name-becky }.
profiles-pane-title-apple-mail = Flytja inn skilaboð úr { app-name-apple-mail }.
profile-source = Flytja inn úr notandasniði
# $profileName (string) - name of the profile
profile-source-named = Flytja inn úr notandasniðinu <strong>„{ $profileName }“</strong>
profile-file-picker-directory = Veldu möppu notandasniðs
profile-file-picker-archive = Veldu <strong>ZIP</strong>-skrá
profile-file-picker-archive-description = ZIP-skráin verður að vera minni en 2GB.
profile-file-picker-archive-title = Veldu ZIP-skrá (minni en 2GB)
items-pane-title2 = Veldu hvað á að flytja inn:
items-pane-directory = Mappa:
items-pane-profile-name = Nafn notanda:
items-pane-checkbox-accounts = Reikningar og stillingar
items-pane-checkbox-address-books = Nafnaskrár
items-pane-checkbox-calendars = Dagatöl
items-pane-checkbox-mail-messages = Tölvupóstskilaboð
items-pane-override = Ekki verður skrifað yfir nein fyrirliggjandi eða eins gögn.

## Import from address book file steps

import-from-addr-book-file-description = Veldu skráarsniðið sem inniheldur nafnaskrárgögnin þín.
addr-book-csv-file = Skrá aðgreind með kommum eða innskotsmerkjum (.csv, .tsv)
addr-book-ldif-file = LDIF-skrá (.ldif)
addr-book-vcard-file = vCard-skrá (.vcf, .vcard)
addr-book-sqlite-file = SQLite-gagnagrunnsskrá (.sqlite)
addr-book-mab-file = Mork-gagnagrunnsskrá (.mab)
addr-book-file-picker = Veldu nafnaskrá
addr-book-csv-field-map-title = Samsvarandi nöfn reita
addr-book-csv-field-map-desc = Veldu nafnaskrárreiti sem samsvara upprunalegum reitum. Afmerktu þá reiti sem þú vilt ekki flytja inn.
addr-book-directories-title = Veldu hvert á að flytja inn valin gögn
addr-book-directories-pane-source = Upprunarskrá:
# $addressBookName (string) - name of the new address book that would be created.
addr-book-import-into-new-directory2 = Búa til nýja möppu sem heitir <strong>"{ $addressBookName }"</strong>
# $addressBookName (string) - name of the address book to import into
addr-book-summary-title = Flytja valin gögn inn í "{ $addressBookName }" möppuna
# $addressBookName (string) - name of the address book that will be created.
addr-book-summary-description = Ný nafnaskrá sem heitir "{ $addressBookName }" verður búin til.

## Import from calendar file steps

import-from-calendar-file-desc = Veldu iCalendar-skrána (.ics) sem þú ætlar að flytja inn.
calendar-items-title = Veldu hvaða atriði þú vilt flytja inn.
calendar-items-loading = Hleð inn atriðum...
calendar-items-filter-input =
    .placeholder = Sía atriði…
calendar-select-all-items = Velja allt
calendar-deselect-all-items = Afvelja allt
calendar-target-title = Veldu hvert á að flytja inn valin atriði.
# $targetCalendar (string) - name of the new calendar that would be created
calendar-import-into-new-calendar2 = Búa til nýtt dagatal sem heitir <strong>"{ $targetCalendar }"</strong>
# $itemCount (number) - count of selected items (tasks, events) that will be imported
# $targetCalendar (string) - name of the calendar the items will be imported into
calendar-summary-title =
    { $itemCount ->
        [one] Flytja eitt atriði inn í „{ $targetCalendar }“ dagatalið
       *[other] Flytja { $itemCount } atriði inn í „{ $targetCalendar }“ dagatalið
    }
# $targetCalendar (string) - name of the calendar that will be created
calendar-summary-description = Nýtt dagatal sem heitir "{ $targetCalendar }" verður búið til.

## Import dialog

# $progressPercent (string) - percent formatted progress (for example "10%")
progress-pane-importing2 = Flyt inn... { $progressPercent }
# $progressPercent (string) - percent formatted progress (for example "10%")
progress-pane-exporting2 = Flyt út... { $progressPercent }
progress-pane-finished-desc2 = Lokið.
error-pane-title = Villa
error-message-zip-file-too-big2 = Valin ZIP-skrá er stærri en 2GB. Afþjappaðu hana fyrst, síðan skaltu í staðinn flytja inn úr afþjöppuðu möppunni.
error-message-extract-zip-file-failed2 = Mistókst að afþjappa ZIP-skrána. Afþjappaðu hana handvirkt, síðan skaltu í staðinn flytja inn úr afþjöppuðu möppunni.
error-message-failed = Innflutningur mistókst óvænt, frekari upplýsingar gætu verið tiltækar á villuskjánum.
error-failed-to-parse-ics-file = Engin innflutningshæf atriði fundust í skránni.
error-export-failed = Útflutningur mistókst óvænt, frekari upplýsingar gætu verið tiltækar á villuskjánum.
error-message-no-profile = Ekkert notandasnið fannst.

## <csv-field-map> element

csv-first-row-contains-headers = Fyrsta lína inniheldur nöfn reita
csv-source-field = Upprunareitur
csv-source-first-record = Fyrsta færsla
csv-source-second-record = Önnur færsla
csv-target-field = Nafnaskrárreitur

## Export tab

export-profile-title = Flytja út póstreikninga, póstskilaboð, nafnaskrár og stillingar í ZIP-skrá.
export-profile-description = Ef notkunarsniðið þitt er stærra en 2GB, mælum við með að þú afritir það sjálf/ur.
export-open-profile-folder = Opna möppu notandasniðs
export-file-picker2 = Flytja út í ZIP-skrá
export-brand-name = { -brand-product-name }

## Summary pane

summary-pane-title = Gögn sem á að flytja inn
summary-pane-start = Hefja innflutning
summary-pane-warning = Endurræsa þarf { -brand-product-name } þegar innflutningi er lokið.
summary-pane-start-over = Endurræsa innflutningsverkfærið

## Footer area

footer-help = Þarftu aðstoð?
footer-import-documentation = Hjálparskjöl innflutnings
footer-export-documentation = Hjálparskjöl útflutnings
footer-support-forum = Aðstoðarspjallsvæði

## Step navigation on top of the wizard pages

step-list =
    .aria-label = Innflutningsskref
step-confirm = Staðfesta
# Variables:
# $number (number) - step number
step-count = { $number }
