# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

rights-title = Informácie o vašich právach
rights-intro = { -brand-full-name } je voľne šíriteľný otvorený softvér vytvorený spoločenstvom tisícov prispievateľov z celého sveta. Tu je niekoľko faktov, o ktorých by ste mali vedieť:
rights-intro-point-1 = { -brand-short-name } je dostupný za podmienok licencie <a data-l10n-name="mozilla-public-license-link">Mozilla Public License</a>. To znamená, že { -brand-short-name } môžete používať, kopírovať a ďalej rozširovať. Takisto môžete upravovať zdrojový kód { -brand-short-name }u podľa vašich predstáv. Licencia Mozilla Public License umožňuje šírenie aj upravených verzií.
rights-intro-point-2 = Nemáte žiadne právo na používanie ochranných známok alebo licencií k ochranným známkam Mozilla Foundation alebo inej strany, vrátane názvu Thunderbird a jeho logotypu. Ďalšie informácie o ochranných známkach získate <a data-l10n-name="mozilla-trademarks-link">na tejto stránke</a>.
rights-intro-point-3 = Niektoré funkcie programu { -brand-short-name }, ako napríklad Oznamovateľ zlyhania, poskytujú možnosť odoslať spätnú väzbu spoločnosti { -vendor-short-name }. Odoslaním spätnej väzby dávate spoločnosti { -vendor-short-name } povolenie ju použiť pri vylepšovaní jej produktov, zverejniť ju na jej webových stránkach a ďalej ju rozširovať.
rights-intro-point-4 = Informácie o tom, ako používame vaše súkromné údaje a spätnú väzbu odoslanú spoločnosti { -vendor-short-name } cez aplikáciu { -brand-short-name } nájdete v <a data-l10n-name="mozilla-privacy-policy-link">Zásadách ochrany súkromia pre { -brand-short-name }</a>.
rights-intro-point-4-unbranded = Tu by mali byť dostupné všetky zásady ochrany súkromia vzťahujúce sa na tento produkt.
rights-intro-point-5 = Niektoré funkcie programu { -brand-short-name } využívajú na svoju činnosť webové služby. Nemôžeme však zaručiť, že tieto pracujú na 100% a sú dostupné bez chýb. Ďalšie podrobnosti vrátane informácií o možnostiach vypnutia funkcií, ktoré využívajú takéto služby, nájdete v <a data-l10n-name="mozilla-service-terms-link">podmienkach použitia</a>.
rights-intro-point-5-unbranded = Ak sú súčasťou tohto produktu webové služby, podmienky použitia týchto služieb by mali byť uvedené v sekcii <a data-l10n-name="mozilla-website-services-link">Služby webových stránok</a>.
rights-intro-point-6 = Aby bolo možné prehrávať určité typy video obsahu, { -brand-short-name } inštaluje moduly na dekódovanie obsahu od tretích strán.
rights-webservices-header = { -brand-full-name } - Informačné služby webových stránok
rights-webservices2 = { -brand-full-name } využíva služby webových stránok (ďalej len "Služby") na funkčnosť niektorých funkcií poskytnutých s binárnou verziou aplikácie { -brand-short-name } tak, ako je popísané nižšie.  Ak nechcete jednu alebo viac týchto Služieb používať alebo podmienky ich používania nie sú pre vás prijateľné, môžete Služby alebo funkcie vypnúť. Inštrukcie, ako vypnúť konkrétnu funkciu alebo Službu, nájdete <a data-l10n-name="mozilla-disable-service-link">tu</a>. Ďalšie funkcie a Služby je možné vypnúť v nastaveniach aplikácie.
rights-locationawarebrowsing = <strong>Služba Prehliadanie s geolokáciou: </strong>Je vždy voliteľná. Bez vášho povolenia nie sú nikdy odoslané žiadne údaje. Ak chcete túto službu vypnúť, postupujte nasledovne:
rights-locationawarebrowsing-term-1 = Do panela s adresou zadajte <code>about:config</code>
rights-locationawarebrowsing-term-2 = Do filtra zadajte geo.enabled
rights-locationawarebrowsing-term-3 = Dvakrát kliknite na voľbu geo.enabled
rights-locationawarebrowsing-term-4 = Prehliadanie so zisťovaním polohy je vypnuté
rights-webservices-unbranded = Tu by mal byť uvedený prehľad webových služieb zahrnutých v produkte, ako aj návod na ich vypnutie (ak je vypnutie možné).
rights-webservices-term-unbranded = Tu by mali byť uvedené podmienky používania každej webovej služby pre tento produkt.
rights-webservices-term-1 = { -vendor-short-name } a jej prispievatelia, poskytovatelia licencií a partneri pracujú na tom, aby poskytli čo najpresnejšie a najaktuálnejšie Služby. Napriek tomu nemôžu garantovať, že poskytované informácie sú komplexné a bez chýb. Napríklad, služba SafeBrowsing nemusí identifikovať niektoré rizikové stránky a môže omylom označiť niektoré bezpečné stránky ako podozrivé. Takisto výstupy služby určovania polohy sú len odhady a my ani poskytovatelia Služby negarantujeme presnosť poskytnutej polohy.
rights-webservices-term-2 = { -vendor-short-name } môže zrušiť využívanie alebo zmeniť Služby podľa svojho uváženia.
rights-webservices-term-3 = Tieto Služby môžete využívať s priloženou verziou produktu { -brand-short-name }, { -vendor-short-name } vám na jej využívanie dáva všetky potrebné práva. { -vendor-short-name } a jej poskytovatelia licencií si vyhradzujú všetky ostatné práva k Službám. Tieto podmienky používania neobmedzujú akékoľvek práva poskytnuté licenciou na softvér s otvoreným kódom použiteľné na { -brand-short-name } a príslušnú verziu zdrojového kódu produktu { -brand-short-name }.
rights-webservices-term-4 = <strong>Služby sú poskytované "ako sú". { -vendor-short-name }, jej prispievatelia, poskytovatelia licencií a distribútori týmto odmietajú všetky výslovné alebo predpokladané záruky zahrňujúce okrem iného záruku, že Služby sú predajné a spôsobilé na konkrétny účel. Nesiete všetko riziko vyplývajúce z výberu Služieb pre svoje účely týkajúce sa kvality a výkonu Služieb. Niektoré jurisdikcie neumožňujú vylúčenie alebo odmietnutie predpokladaných záruk, takže sa vás toto odmietnutie zodpovednosti nemusí týkať.</strong>
rights-webservices-term-5 = <strong>S výnimkou rozsahu určeného zákonom spoločnosť { -vendor-short-name }, jej prispievatelia, poskytovatelia licencií a distribútori nenesú zodpovednosť za žiadne nepriame, zvláštne, vedľajšie, náhodné, následné, trestné alebo exemplárne škody vzniknuté použitím produktu { -brand-short-name } a Služieb. Spoločná zodpovednosť vyplývajúca z týchto podmienok nepresiahne 500 USD (päťsto dolárov). Niektoré jurisdikcie neumožňujú vylúčenie alebo odmietnutie zodpovednosti za stanovené škody, takže sa vás toto odmietnutie zodpovednosti nemusí týkať.</strong>
rights-webservices-term-6 = { -vendor-short-name } môže z času na čas podľa potreby upraviť tieto podmienky používania. Tieto podmienky používania nesmú byť upravené alebo zrušené bez písomnej dohody so spoločnosťou { -vendor-short-name }.
rights-webservices-term-7 = Tieto podmienky používania sa riadia zákonmi štátu Kalifornia, USA, s výnimkou jeho zákonných ustanovení, ktorá si protirečia. Ak bude niektorá časť týchto podmienok považovaná za neplatnú alebo nevynútiteľnú, platnosť zostávajúcich častí zostane úplne nedotknutá. V prípade rozdielov medzi lokalizovanou verziou a anglickým originálom je rozhodujúcim jazykom týchto podmienok anglický jazyk.
