# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

privatebrowsingpage-open-private-window-label = Oscail Fuinneog Phríobháideach
    .accesskey = P
about-private-browsing-search-placeholder = Cuardaigh an Gréasán
about-private-browsing-info-title = Is Fuinneog Phríobháideach é seo
about-private-browsing-search-btn =
    .title = Cuardaigh an gréasán
# Variables
#  $engine (String): the name of the user's default search engine
about-private-browsing-handoff =
    .title = Cuardaigh le { $engine } nó cuir isteach seoladh
about-private-browsing-handoff-no-engine =
    .title = Cuardaigh nó cuir isteach seoladh
# Variables
#  $engine (String): the name of the user's default search engine
about-private-browsing-handoff-text = Cuardaigh le { $engine } nó cuir isteach seoladh
about-private-browsing-handoff-text-no-engine = Cuardaigh nó cuir isteach seoladh
about-private-browsing-not-private = Níl tú i bhfuinneog phríobháideach faoi láthair.

## The following strings will be used for experiments in Fx99 and Fx100

# This string is the title for the banner for search engine selection
# in a private window.
# Variables:
#   $engineName (String) - The engine name that will currently be used for the private window.
about-private-browsing-search-banner-title = Is é { $engineName } an t-inneall cuardaigh réamhshocraithe atá agat i bhFuinneoga Príobháideacha
about-private-browsing-search-banner-description =
    { PLATFORM() ->
        [windows] Chun inneall cuardaigh eile a roghnú téigh go dtí <a data-l10n-name="link-options">Roghanna</a>
       *[other] Chun inneall cuardaigh eile a roghnú téigh go dtí na <a data-l10n-name="link-options">Sainroghanna</a>
    }
about-private-browsing-search-banner-close-button =
    .aria-label = Dún

