# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, you can obtain one at http://mozilla.org/MPL/2.0/.

import-page-title = Ymportearje
export-page-title = Eksportearje

## Header

import-start = Ymporthelpmiddel
import-start-title = Ynstellingen of gegevens út in tapassing of in bestân ymportearje.
import-start-description = Selektearje de boarne wêrfan jo ymportearje wolle. Jo wurde letter frege om te kiezen hokker gegevens ymportearre wurde moatte.
import-from-app = Ymportearje út tapassing
import-file = Ut in bestân ymportearje
import-file-title = Selektearje in bestân om de ynhâld derfan te ymportearjen.
import-file-description = Kieze om in earder makke reservekopy fan in profyl, adresboeken of aginda’s te ymportearjen.
import-address-book-title = Adresboekbestân ymportearje
import-calendar-title = Agindabestân ymportearje
export-profile = Eksportearje

## Buttons

button-back = Tebek
button-continue = Trochgean
button-export = Eksportearje
button-finish = Foltôgje

## Import from app steps

app-name-thunderbird = Thunderbird
app-name-seamonkey = SeaMonkey
app-name-outlook = Outlook
app-name-becky = Becky! Internet Mail
app-name-apple-mail = Apple Mail
source-thunderbird = Ymportearje út in oare { app-name-thunderbird }-ynstallaasje
source-thunderbird-description = Ynstellingen, filters, berjochten en oare gegevens út in { app-name-thunderbird }-profyl ymportearje.
source-seamonkey = Ymportearje fan in { app-name-seamonkey }-ynstallaasje út
source-seamonkey-description = Ynstellingen, filters, berjochten en oare gegevens út in { app-name-seamonkey }-profyl ymportearje.
source-outlook = Ymportearje út { app-name-outlook }
source-outlook-description = Accounts, adresboeken en berjochten ymportearje út { app-name-outlook }.
source-becky = Ymportearje út { app-name-becky }
source-becky-description = Accounts, adresboeken en berjochten ymportearje út { app-name-becky }.
source-apple-mail = Ymportearje út { app-name-apple-mail }
source-apple-mail-description = Berjochten ymportearje út { app-name-apple-mail }.
source-file2 = Ut in bestân ymportearje
source-file-description = Selektearje in bestân om adresboeken, aginda’s of in reservekopy fan in profyl (ZIP-bestân) te ymportearjen.

## Import from file selections

file-profile2 = Reservekopy fan profyl ymportearje
file-profile-description = Selektearje in earder makke reservekopy fan Thunderbird-profyl (.zip)
file-calendar = Aginda’s ymportearje
file-calendar-description = Selektearje in bestân mei eksportearre aginda’s of eveneminten (.ics)
file-addressbook = Adresboeken ymportearje
file-addressbook-description = Selektearje in bestân mei eksportearre adresboeken en kontakten

## Import from app profile steps

from-app-thunderbird = Ymportearje fan in { app-name-thunderbird }-profyl út
from-app-seamonkey = Ymportearje fan in { app-name-seamonkey }-profyl út
from-app-outlook = Ymportearje út { app-name-outlook }
from-app-becky = Ymportearje út { app-name-becky }
from-app-apple-mail = Ymportearje út { app-name-apple-mail }
profiles-pane-title-thunderbird = Ynstellingen en gegevens ymportearje út in { app-name-thunderbird }-profyl.
profiles-pane-title-seamonkey = Ynstellingen en gegevens ymportearje út in { app-name-seamonkey }-profyl.
profiles-pane-title-outlook = Gegevens ymportearje út { app-name-outlook }.
profiles-pane-title-becky = Gegevens ymportearje út { app-name-becky }.
profiles-pane-title-apple-mail = Berjochten ymportearje út { app-name-apple-mail }.
profile-source = Ut profyl ymportearje
# $profileName (string) - name of the profile
profile-source-named = Ut profyl <strong>‘{ $profileName }’</strong> ymportearje
profile-file-picker-directory = Kies in profylmap
profile-file-picker-archive = Kies in <strong>ZIP</strong>-bestân
profile-file-picker-archive-description = It ZIP-bestân moat lytser wêze as 2 GB.
profile-file-picker-archive-title = Kies in ZIP-bestân (lytser as 2GB)
items-pane-title2 = Kies wat jo ymportearje wolle:
items-pane-directory = Map:
items-pane-profile-name = Profylnamme:
items-pane-checkbox-accounts = Accounts en ynstellingen
items-pane-checkbox-address-books = Adresboeken
items-pane-checkbox-calendars = Aginda’s
items-pane-checkbox-mail-messages = E-mailberjochten
items-pane-override = Besteande of identike gegevens wurde net oerskreaun.

## Import from address book file steps

import-from-addr-book-file-description = Kies it bestânsformaat mei jo adresboekgegevens.
addr-book-csv-file = Komma- of tab-skieden bestân (.csv, .tsv)
addr-book-ldif-file = LDIF-bestân (.ldif)
addr-book-vcard-file = vCard-bestân (.vcf, .vcard)
addr-book-sqlite-file = SQLite-databasebestân (.sqlite)
addr-book-mab-file = Mork-databasebestân (.mab)
addr-book-file-picker = Adresboekbestân selektearje
addr-book-csv-field-map-title = Fjildnammen oerien komme litte
addr-book-csv-field-map-desc = Selektearje adresboekfjilden dy’t oerienkomme mei de boarnefjilden. Finkje fjilden út dy’t jo net ymportearje wolle.
addr-book-directories-title = Selektearje wêr’t jo de keazen gegevens ymportearje wolle
addr-book-directories-pane-source = Boarnebestân:
# $addressBookName (string) - name of the new address book that would be created.
addr-book-import-into-new-directory2 = In nije map oanmeitsje mei de namme <strong>‘{ $addressBookName }’</strong>
# $addressBookName (string) - name of the address book to import into
addr-book-summary-title = De keazen gegevens ymportearje yn de map ‘{ $addressBookName }’
# $addressBookName (string) - name of the address book that will be created.
addr-book-summary-description = Der wurdt in nij adresboek mei de namme ‘{ $addressBookName }’ makke.

## Import from calendar file steps

import-from-calendar-file-desc = Selektearje it iCalendar (.ics)-bestânstype dat jo ymportearje wolle.
calendar-items-title = Selektearje de te ymportearjen ûnderdielen.
calendar-items-loading = Items lade…
calendar-items-filter-input =
    .placeholder = Items filterje…
calendar-select-all-items = Alles selektearje
calendar-deselect-all-items = Alle deselektearje
calendar-target-title = Selektearje wêr’t jo de keazen ûnderdielen ymportearje wolle.
# $targetCalendar (string) - name of the new calendar that would be created
calendar-import-into-new-calendar2 = In nije aginda meitsje mei de namme <strong>‘{ $targetCalendar }’</strong>
# $itemCount (number) - count of selected items (tasks, events) that will be imported
# $targetCalendar (string) - name of the calendar the items will be imported into
calendar-summary-title =
    { $itemCount ->
        [one] Ien item ymportearje yn de aginda ‘{ $targetCalendar }’
       *[other] { $itemCount } items ymportearje yn de aginda ‘{ $targetCalendar }’
    }
# $targetCalendar (string) - name of the calendar that will be created
calendar-summary-description = Der wurdt in nije aginda makke mei de namme ‘{ $targetCalendar }’.

## Import dialog

# $progressPercent (string) - percent formatted progress (for example "10%")
progress-pane-importing2 = Ymportearje… { $progressPercent }
# $progressPercent (string) - percent formatted progress (for example "10%")
progress-pane-exporting2 = Eksportearje… { $progressPercent }
progress-pane-finished-desc2 = Foltôge.
error-pane-title = Flater
error-message-zip-file-too-big2 = It selektearre ZIP-bestân is grutter as 2 GB. Pak it earst út en ymportearje it dernei út de útpakte map.
error-message-extract-zip-file-failed2 = Kin it ZIP-bestân net útpakke. Pak it hânmjittich út en ymportearje it dernei út de útpakte map.
error-message-failed = Ymportearjen is ûnferwachte mislearre, mear ynformaasje is mooglik beskikber yn de Flaterconsole.
error-failed-to-parse-ics-file = Gjin te ymportearjen items fûn yn it bestân.
error-export-failed = Eksportearjen is ûnferwacht mislearre, mear ynformaasje is mooglik beskikber yn de Flaterconsole.
error-message-no-profile = Gjin profyl fûn.

## <csv-field-map> element

csv-first-row-contains-headers = Earste rige befettet fjildnammen
csv-source-field = Boarnefjild
csv-source-first-record = Earste rekord
csv-source-second-record = Twadde rekord
csv-target-field = Adresboekfjld

## Export tab

export-profile-title = Accounts, berjochten, adresboeken en ynstellingen nei in ZIP-bestân eksportearje.
export-profile-description = As jo aktuele profyl grutter is as 2 GB, riede wy jo oan der sels in reservekopy fan te meitsjen.
export-open-profile-folder = Profylmap iepenje
export-file-picker2 = Eksportearje nei in ZIP-bestân
export-brand-name = { -brand-product-name }

## Summary pane

summary-pane-title = Te ymportearjen gegevens
summary-pane-start = Ymport starte
summary-pane-warning = { -brand-product-name } moat opnij start wurde wannear’t it ymportearjen foltôge is.
summary-pane-start-over = Ymportear-ark opnij starte

## Footer area

footer-help = Help nedich?
footer-import-documentation = Ymportdokumintaasje
footer-export-documentation = Eksportdokumintaasje
footer-support-forum = Stipefoarum

## Step navigation on top of the wizard pages

step-list =
    .aria-label = Ymportstappen
step-confirm = Befêstigje
# Variables:
# $number (number) - step number
step-count = { $number }
