# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

privatebrowsingpage-open-private-window-label = Otvoriť súkromné okno
    .accesskey = S
about-private-browsing-search-placeholder = Hľadať
about-private-browsing-info-title = Ste v súkromnom okne
about-private-browsing-search-btn =
    .title = Vyhľadávanie na webe
# Variables
#  $engine (String): the name of the user's default search engine
about-private-browsing-handoff =
    .title = Vyhľadávajte cez { $engine } alebo zadajte webovú adresu
about-private-browsing-handoff-no-engine =
    .title = Zadajte adresu alebo výraz vyhľadávania
# Variables
#  $engine (String): the name of the user's default search engine
about-private-browsing-handoff-text = Vyhľadávajte cez { $engine } alebo zadajte webovú adresu
about-private-browsing-handoff-text-no-engine = Zadajte adresu alebo výraz vyhľadávania
about-private-browsing-not-private = Práve nie ste v súkromnom prehliadaní
about-private-browsing-info-description-private-window = Súkromné prehliadanie: { -brand-short-name } vymaže históriu vyhľadávania a prehliadania po zatvorení všetkých súkromných okien. Tým sa však nestanete anonymnými.
about-private-browsing-info-description-simplified = { -brand-short-name } vymaže históriu vyhľadávania a prehliadania po zatvorení všetkých súkromných okien, ale tým sa nestanete anonymnými.
about-private-browsing-learn-more-link = Ďalšie informácie

about-private-browsing-hide-activity = Skryte svoju aktivitu a polohu, nech ste kdekoľvek
about-private-browsing-get-privacy = Získajte ochranu súkromia všade, kde prehliadate
about-private-browsing-hide-activity-1 = Skryte svoju aktivitu a polohu pri prehliadaní pomocou služby { -mozilla-vpn-brand-name }. Jedným kliknutím vytvoríte zabezpečené pripojenie, dokonca aj na verejných sieťach Wi-Fi.
about-private-browsing-prominent-cta = Ochráňte svoje súkromie so službou { -mozilla-vpn-brand-name }

about-private-browsing-focus-promo-cta = Nainštalujte si { -focus-brand-name }
about-private-browsing-focus-promo-header = { -focus-brand-name }: súkromné prehliadanie na cestách
about-private-browsing-focus-promo-text = Naša mobilná aplikácia zameraná na maximálnu ochranu súkromia vymaže vašu históriu a súbory cookie po každom prehliadaní.

## The following strings will be used for experiments in Fx99 and Fx100

about-private-browsing-focus-promo-header-b = Vezmite si súkromné prehliadanie do svojho telefónu
about-private-browsing-focus-promo-text-b = Používajte { -focus-brand-name } na prehliadanie webu, ktorý by mal ostať skrytý pred vašim hlavným mobilným prehliadačom.
about-private-browsing-focus-promo-header-c = Ochrana súkromia ďalšej úrovne na mobilnom zariadení
about-private-browsing-focus-promo-text-c = { -focus-brand-name } blokuje reklamy a sledovacie prvky, a zakaždým vymaže vašu históriu prehliadania.

# This string is the title for the banner for search engine selection
# in a private window.
# Variables:
#   $engineName (String) - The engine name that will currently be used for the private window.
about-private-browsing-search-banner-title = V súkromnom prehliadaní je vašim predvoleným vyhľadávacím modulom { $engineName }
about-private-browsing-search-banner-description =
    { PLATFORM() ->
        [windows] Ak chcete vybrať iný vyhľadávací modul, prejdite do <a data-l10n-name="link-options">Možností</a>
       *[other] Ak chcete vybrať iný vyhľadávací modul, prejdite do <a data-l10n-name="link-options">Možností</a>
    }
about-private-browsing-search-banner-close-button =
    .aria-label = Zavrieť

about-private-browsing-promo-close-button =
    .title = Zavrieť
