# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

privatebrowsingpage-open-private-window-label = In priveefinster iepenje
    .accesskey = p
about-private-browsing-search-placeholder = Sykje op it web
about-private-browsing-info-title = Jo binne yn in priveefinster
about-private-browsing-search-btn =
    .title = Sykje op it web
# Variables
#  $engine (String): the name of the user's default search engine
about-private-browsing-handoff =
    .title = Mei { $engine } sykje of fier adres yn
about-private-browsing-handoff-no-engine =
    .title = Fier sykterm of adres yn
# Variables
#  $engine (String): the name of the user's default search engine
about-private-browsing-handoff-text = Mei { $engine } sykje of fier adres yn
about-private-browsing-handoff-text-no-engine = Fier sykterm of adres yn
about-private-browsing-not-private = Jo binne op dit stuit net yn in priveefinster.
about-private-browsing-info-description-private-window = Priveefinster: { -brand-short-name } wisket jo syk- en navigaasjeskiednis wannear’t jo alle priveefinsters slute. Dit makket jo net anonym.
about-private-browsing-info-description-simplified = { -brand-short-name } wisket jo syk- en navigaasjeskiednis wannear’t jo alle priveefinsters slute, mar dit makket jo net anonym.
about-private-browsing-learn-more-link = Mear ynfo

about-private-browsing-hide-activity = Ferbergje jo aktiviteit en lokaasje, oeral wêr’t jo sneupe
about-private-browsing-get-privacy = Untfang privacybeskerming oeral wêr’t jo sneupe
about-private-browsing-hide-activity-1 = Ferbergje jo sneupaktiviteiten en lokaasje mei { -mozilla-vpn-brand-name }. Mei ien klik meitsje jo in feilige ferbining, sels op iepenbiere wifi.
about-private-browsing-prominent-cta = Bliuw privee mei { -mozilla-vpn-brand-name }

about-private-browsing-focus-promo-cta = { -focus-brand-name } downloade
about-private-browsing-focus-promo-header = { -focus-brand-name }: priveenavigaasje ûnderweis
about-private-browsing-focus-promo-text = Us spesjale mobile app foar priveenavigaasje wisket elke kear jo skiednis en cookies.

## The following strings will be used for experiments in Fx99 and Fx100

about-private-browsing-focus-promo-header-b = Bring priveenavigaasje nei jo telefoan
about-private-browsing-focus-promo-text-b = Brûk { -focus-brand-name } foar dy priveesykopdrachten wêrfan jo net wolle dat jo mobile standertbrowser se sjocht.
about-private-browsing-focus-promo-header-c = Privacy op mobyl op it folgjende nivo
about-private-browsing-focus-promo-text-c = { -focus-brand-name } wisket elke kear jo skiednis, wylst advertinsjes en trackers blokkearre wurde.

# This string is the title for the banner for search engine selection
# in a private window.
# Variables:
#   $engineName (String) - The engine name that will currently be used for the private window.
about-private-browsing-search-banner-title = { $engineName } is jo standertsykmasine yn priveefinsters
about-private-browsing-search-banner-description =
    { PLATFORM() ->
        [windows] Gean nei <a data-l10n-name="link-options">Opsjes</a> om in oare sykmasine te selektearjen
       *[other] Gean nei <a data-l10n-name="link-options">Foarkarren</a> om in oare sykmasine te selektearjen
    }
about-private-browsing-search-banner-close-button =
    .aria-label = Slute

about-private-browsing-promo-close-button =
    .title = Slute
