# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

privatebrowsingpage-open-private-window-label = Arvi 'n barcon privòu
    .accesskey = à
about-private-browsing-search-placeholder = Çerca inta Ræ
about-private-browsing-info-title = Ti ê inte 'n barcon privòu
# Variables
#  $engine (String): the name of the user's default search engine
about-private-browsing-handoff =
    .title = Çerca con { $engine } ò scrivi indirisso
about-private-browsing-handoff-no-engine =
    .title = Çerca ò scrivi indirisso
# Variables
#  $engine (String): the name of the user's default search engine
about-private-browsing-handoff-text = Çerca con { $engine } ò scrivi indirisso
about-private-browsing-handoff-text-no-engine = Çerca ò scrivi indirisso
about-private-browsing-not-private = Sto chi o no l'é 'n barcon privòu.

## The following strings will be used for experiments in Fx99 and Fx100

# This string is the title for the banner for search engine selection
# in a private window.
# Variables:
#   $engineName (String) - The engine name that will currently be used for the private window.
about-private-browsing-search-banner-title = { $engineName } o l'é o motô de riçerca predefinio inti bracoin privæ
about-private-browsing-search-banner-description =
    { PLATFORM() ->
        [windows] Ti peu seleçionâ un altro motô de riçerca inte <a data-l10n-name="link-options">Inpostaçioin</a>
       *[other] Ti peu seleçionâ un altro motô de riçerca inte <a data-l10n-name="link-options">Preferense</a>
    }
about-private-browsing-search-banner-close-button =
    .aria-label = Særa

