# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

account-central-title = Ongi etorri { -brand-full-name }(e)ra
account-settings = Kontu-ezarpenak

#   $accounts (Number) - the number of configured accounts
setup-title = Aukeratu zer konfiguratu
about-title = { -brand-full-name }(r)i buruz
resources-title = Baliabideak

release-notes =
    .title = { -brand-full-name }(r)i buruz

email-label = Helbide elektronikoa
    .aria-label = konektatu badaukazun posta elektronikora
email-description = { -brand-short-name }-(e)k zure posta elektroniko kontua konektatzen uzten dizu, aplikaziotik bertatik egokiro eta eraginkor irakurtzeko zure mezuak.

calendar-label = egutegia
    .aria-label = Sortu egutegi berri bat
calendar-description = { -brand-short-name } antolatua izaten eta zure gertaerak kudeatzen laguntzen dizu. Urruneko egutegi batera konektatuz zure gertaera guztiak zure gailu denetan sinkronizatuak mantenduz.

chat-label = Berriketa
    .aria-label = Konektatu zure berriketa kontua
chat-description = { -brand-short-name } hainbat berehalako mezularitza kontu konektatzen dizu, hainbat plataformei euskarria eskainiz.

filelink-label = Filelink
    .aria-label = Filelink konfiguratu
filelink-description = { -brand-short-name } filelink hodeiko kontua konfiguratzen uzten dizu eranskin handiak modu errazean bidaltzeko.

addressbook-label = Helbide-liburua
    .aria-label = Sortu Helbide-liburu berria
addressbook-description = { -brand-short-name } zure kontaktu guztiak helbide liburuan antolatzen dizkizu. Urrutiko helbide liburu batera ere konekta zintezke zure kontaktu guztiak sinkronizatuta mantentzeko.

feeds-label = Jarioak
    .aria-label = Jarioetara konektatu
feeds-description = { -brand-short-name } RSS/Atom jarioetara konektatzen zaitu berriak eta inguru guztiko eguneratzeak jasotzeko.

newsgroups-label = Berri-taldeak
    .aria-label = Berri-taldeetara konektatu
newsgroups-description = { -brand-short-name } nahi duzun berri-taldeetara konektatzen zaitu.

import-title = Inportatu beste programa batetik…
import-paragraph2 = { -brand-short-name } posta-mezuak, helbide-liburu sarrerak, jario harpidetzak, ezarpenak edota iragazkiak inportatzen dizu beste posta programa batetik eta ohiko helbide-liburu formatuetatik.

import-label = Inportatu
    .aria-label = Inportatu datuak beste programa batzuetatik

about-paragraph = Thunderbird da kode irekiko posta eta egutegi bezero plataforma-anitz bakarra, dohakoa negoziorako nahiz erabilera pertsonalerako. Seguru mantendu eta are hobe bilaka dadin nahi dugu. Dohaintzak garatzaileak kontratatzea ahalbidetzen digu, azpiegiturak ordaindu eta hobetzen jarraitu.

about-paragraph-consider-donation = <b> Thunderbird zu bezalako erabiltzaileek diruz mantendua dago! Thunderbird gogoko baduzu, mesedez izan gogoan ekarpen bat egin dezakezula.</b> Biderik onena Thunderbirden etorkizuna ziurtatzeko <a data-l10n-name="donation-link"> ekarpena</a> egitea da.

explore-link = Eginbideak esploratu
support-link = Laguntza
involved-link = Parte hartu
developer-link = Garatzaileentzako dokumentazioa

read = Irakurri mezuak
compose = Idatzi mezu berria
search = Bilatu mezuak
filter = Kudeatu mezu-iragazkiak
nntp-subscription = Kudeatu berri-taldeetako harpidetzak
rss-subscription = Kudeatu jario harpidetzak
e2e = Muturretik muturrerako enkriptatzea
