# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

privatebrowsingpage-open-private-window-label = პირადი ფანჯრის გახსნა
    .accesskey = პ
about-private-browsing-search-placeholder = ძიება ინტერნეტში
about-private-browsing-info-title = თქვენ იმყოფებით პირად ფანჯარაში
about-private-browsing-search-btn =
    .title = ძიება ინტერნეტში
# Variables
#  $engine (String): the name of the user's default search engine
about-private-browsing-handoff =
    .title = მოძებნეთ { $engine } საძიებოთი ან შეიყვანეთ მისამართი
about-private-browsing-handoff-no-engine =
    .title = მოძებნეთ ან შეიყვანეთ მისამართი
# Variables
#  $engine (String): the name of the user's default search engine
about-private-browsing-handoff-text = მოძებნეთ { $engine } საძიებოთი ან შეიყვანეთ მისამართი
about-private-browsing-handoff-text-no-engine = მოძებნეთ ან შეიყვანეთ მისამართი
about-private-browsing-not-private = ამჟამად პირად ფანჯარაში არ იმყოფებით.
about-private-browsing-info-description-private-window = პირადი ფანჯარა: { -brand-short-name } გაასუფთავებს თქვენ მიერ მოძიებული და მონახულებული გვერდების ჩანაწერებს, ყველა პირადი ფანჯრის დახურვისას. თუმცა ეს ვერ დაფარავს თქვენს ვინაობას.
about-private-browsing-info-description-simplified = { -brand-short-name } გაასუფთავებს თქვენ მიერ მოძიებული და მონახულებული გვერდების ჩანაწერებს, ყველა პირადი ფანჯრის დახურვისას, თუმცა ეს ვერ დაფარავს თქვენს ვინაობას.
about-private-browsing-learn-more-link = ვრცლად

about-private-browsing-hide-activity = დამალეთ თქვენი მოქმედებები და ადგილსამყოფელი, ნებისმიერ გვერდზე შესვლისას
about-private-browsing-get-privacy = თან წაიყოლეთ უსაფრთხოება ყველგან
about-private-browsing-hide-activity-1 = დაფარეთ თქვენი მოქმედებები და ადგილსამყოფელი { -mozilla-vpn-brand-name }-ით. ერთი შეხებით ქმნის უხიფათო კავშირს, საჯარო WiFi-ით სარგებლობის დროსაც კი.
about-private-browsing-prominent-cta = დაიცავით პირადულობა { -mozilla-vpn-brand-name }-ით

about-private-browsing-focus-promo-cta = ჩამოტვირთეთ { -focus-brand-name }
about-private-browsing-focus-promo-header = { -focus-brand-name }: თან წაიყოლეთ პირადულობა
about-private-browsing-focus-promo-text = პირადულობისთვის განკუთვნილი მობილური ბრაუზერი, ასუფთავებს ისტორიასა და კვალს, ყოველი გამოყენების შემდგომ.

## The following strings will be used for experiments in Fx99 and Fx100

about-private-browsing-focus-promo-header-b = წაიყოლეთ პირადულობა ტელეფონთან ერთად
about-private-browsing-focus-promo-text-b = გამოიყენეთ { -focus-brand-name } იმ ინფორმაციის გაუმჟღავნებლად მოძიებისთვის, რომლის მთავარი ბრაუზერით ნახვაც არ გსურთ.
about-private-browsing-focus-promo-header-c = ახალ დონეზე აყვანილი პირადულობა მობილურზე
about-private-browsing-focus-promo-text-c = { -focus-brand-name } ყოველი გამოყენების შემდგომ ასუფთავებს თქვენს ისტორიას, რეკლამებისა და მეთვალყურეების შეზღუდვასთან ერთად.

# This string is the title for the banner for search engine selection
# in a private window.
# Variables:
#   $engineName (String) - The engine name that will currently be used for the private window.
about-private-browsing-search-banner-title = { $engineName } თქვენი ნაგულისხმევი საძიებოა პირად ფანჯრებში
about-private-browsing-search-banner-description =
    { PLATFORM() ->
        [windows] სხვა საძიებოს შესარჩევად გადადით <a data-l10n-name="link-options">პარამეტრებში</a>
       *[other] სხვა საძიებოს შესარჩევად გადადით <a data-l10n-name="link-options">პარამეტრებში</a>
    }
about-private-browsing-search-banner-close-button =
    .aria-label = დახურვა

about-private-browsing-promo-close-button =
    .title = დახურვა
