# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

# The question portion of the following message should have the <strong> and </strong> tags surrounding it.
default-browser-notification-message = <strong>მიუთითეთ { -brand-short-name } ნაგულისხმევ ბრაუზერად?</strong> იმოგზაურეთ ვებსივრცეში სწრაფად, უსაფრთხოდ და პირადი მონაცემების ხელშეუხებლად.
default-browser-notification-button =
    .label = მითითება ნაგულისხმევად
    .accesskey = ნ

## These strings are used for the default browser prompt. There are 2 variations
## depending on the operating system (Windows vs other). The checkbox label and
## secondary button are shared between the variants.

default-browser-prompt-title-pin = გახდეს { -brand-short-name } თქვენი ძირითადი ბრაუზერი?
default-browser-prompt-message-pin = ხელთ იქონიეთ { -brand-short-name } — აქციეთ ნაგულისხმევ ბრაუზერად და მიამაგრეთ ამოცანათა ზოლზე.
default-browser-prompt-message-pin-mac = ხელთ იქონიეთ { -brand-short-name } — აქციეთ ნაგულისხმევ ბრაუზერად და ჩაამატეთ პროგრამების ზოლზე.
default-browser-prompt-button-primary-pin = გახდეს ძირითადი ბრაუზერი
default-browser-prompt-title-alt = გახდეს { -brand-short-name } თქვენი ნაგულისხმევი ბრაუზერი?
default-browser-prompt-message-alt = სისწრაფე, უსაფრთხოება და პირადულობა, გვერდების ყოველი მონახულებისას.
default-browser-prompt-button-primary-alt = ნაგულისხმევ ბრაუზერად დაყენება
default-browser-prompt-checkbox-not-again-label = მომავალში ჩვენების გარეშე
default-browser-prompt-button-secondary = ახლა არა
