# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, you can obtain one at http://mozilla.org/MPL/2.0/.

import-page-title = Importar
export-page-title = Exportar

## Header

import-start = Importar instrumento
import-start-title = Importar parametros o datos ex un application o file.
import-start-description = Elige le fonte ab le qual tu vole importar. Plus tarde te sera demandate de eliger qual datos debe esser importate.
import-from-app = Importar ab application
import-file = Importar ab un file
import-file-title = Elige un file pro importar su contento.
import-file-description = Selige de importar un profilo, libros de adresses o agendas previemente reservate.
import-address-book-title = Importar le file libro del adresses
import-calendar-title = Importar file agenda
export-profile = Exportar

## Buttons

button-back = Retro
button-continue = Continuar
button-export = Exportar
button-finish = Finir

## Import from app steps

app-name-thunderbird = Thunderbird
app-name-seamonkey = SeaMonkey
app-name-outlook = Outlook
app-name-becky = Becky! Internet Mail
app-name-apple-mail = Apple Mail
source-thunderbird = Importar ab un altere installation de { app-name-thunderbird }
source-thunderbird-description = Importar parametros, filtros, messages e altere datos ab un profilo de { app-name-thunderbird }.
source-seamonkey = Importar ab un installation de { app-name-seamonkey }
source-seamonkey-description = Importar parametros, filtros, messages e altere datos ab un profilo de { app-name-seamonkey }.
source-outlook = Importar ab { app-name-outlook }
source-outlook-description = Importar contos, libros de adresses, e messages ab { app-name-outlook }.
source-becky = Importar ab { app-name-becky }
source-becky-description = Importar libros de adresses e messages ab { app-name-becky }.
source-apple-mail = Importar ab { app-name-apple-mail }
source-apple-mail-description = Importar messages ab { app-name-apple-mail }.
source-file2 = Importar ab un file
source-file-description =
    unanalyzable residue	residuo analysabile
    sounds as	pare que
    ad infinitum	al infinito
    post-structuralist semiotics	semiotica post-structuralista
    this entails	isto implica
    are realized	es realisate
    basic sense	senso basic
    phonetic form	forma phonetic
    to suggest that	significa
    Platonist idealism	idealismo platonista
    naive realism	realismo naive
    intended sense	senso desirate
    fraudulent payments	pagamentos fraudulente
    significant parts	partes significante
    semantic elements	elementos semantic
    default dispatcher	expeditor predefinite
    coroutines library	co-routines
    import from	importar ab

## Import from file selections

file-profile2 = Importar profilo archivate
file-profile-description = Elige un profilo Thunderbird previemente reservate (.zip)
file-calendar = Importar agendas
file-calendar-description = Elige un file que contine o eventos exportate (.ics)
file-addressbook = Importar libros del adresses
file-addressbook-description = Elige un file que contine libros de adresses e contactos exportate

## Import from app profile steps

from-app-thunderbird = Importar ab un profilo { app-name-thunderbird }
from-app-seamonkey = Importar ab un profilo { app-name-seamonkey }
from-app-outlook = Importar de { app-name-outlook }
from-app-becky = Importar ab { app-name-becky }
from-app-apple-mail = Importar ab { app-name-apple-mail }
profiles-pane-title-thunderbird = Importar parametros e datos ab un profilo { app-name-thunderbird }.
profiles-pane-title-seamonkey = Importar parametros e datos ab un profilo { app-name-seamonkey }.
profiles-pane-title-outlook = Importar datos ab { app-name-outlook }.
profiles-pane-title-becky = Importar datos ab { app-name-becky }.
profiles-pane-title-apple-mail = Importar messages ab { app-name-apple-mail }.
profile-source = Importar ab un profilo
# $profileName (string) - name of the profile
profile-source-named = Importar ab le profilo <strong>"{ $profileName }"</strong>
profile-file-picker-directory = Elige un plica de profilo
profile-file-picker-archive = Elige un file <strong>ZIP</strong>
profile-file-picker-archive-description = Le file ZIP debe esser minor de 2GB.
profile-file-picker-archive-title = Elige un file ZIP (minor de 2GB)
items-pane-title2 = Selige lo que importar:
items-pane-directory = Directorio:
items-pane-profile-name = Nomine del profilo:
items-pane-checkbox-accounts = Contos e parametros
items-pane-checkbox-address-books = Libros de adresses
items-pane-checkbox-calendars = Agendas
items-pane-checkbox-mail-messages = Messages e-mail
items-pane-override = Ulle datos existente o identic non sera superscribite.

## Import from address book file steps

import-from-addr-book-file-description = Elige le formato de file que contine le datos de tu libro de adresses.
addr-book-csv-file = File separate per virgulas o tabulationes (.csv, .tsv)
addr-book-ldif-file = file vCard (.vcf, .vcard)
addr-book-vcard-file = File base de datos Mork (.mab)
addr-book-sqlite-file = File base de datos SQLite (.sqlite)
addr-book-mab-file = File base de datos Mork (.mab)
addr-book-file-picker = Elige un file libro del adresses
addr-book-csv-field-map-title = Concordar nomines de campo
addr-book-csv-field-map-desc = Elige le campos de libro de adresses correspondente al campos fonte. Dismarca le campos que tu non vole importar.
addr-book-directories-title = Elige ubi importar le datos eligite
addr-book-directories-pane-source = File fonte:
# $addressBookName (string) - name of the new address book that would be created.
addr-book-import-into-new-directory2 = Crear un nove directorio appellate <strong>"{ $addressBookName }"</strong>
# $addressBookName (string) - name of the address book to import into
addr-book-summary-title = Importar le datos eligite in le directorio "{ $addressBookName }"
# $addressBookName (string) - name of the address book that will be created.
addr-book-summary-description = Un nove libro de adresses appellate "{ $addressBookName }" sera create.

## Import from calendar file steps

import-from-calendar-file-desc = Selige le file iCalendar (.ics) que tu vole importar.
calendar-items-title = Selige le elementos a importar.
calendar-items-loading = Cargante elementos…
calendar-items-filter-input =
    .placeholder = Filtrar elementos…
calendar-select-all-items = Seliger toto
calendar-deselect-all-items = De-seliger toto
calendar-target-title = Elige ubi importar le elementos eligite.
# $targetCalendar (string) - name of the new calendar that would be created
calendar-import-into-new-calendar2 = Crear un nove agenda appellate <strong>"{ $targetCalendar }"</strong>
# $itemCount (number) - count of selected items (tasks, events) that will be imported
# $targetCalendar (string) - name of the calendar the items will be imported into
calendar-summary-title =
    { $itemCount ->
        [one] Importar un elemento in le agenda "{ $targetCalendar }"
       *[other] Importar { $itemCount } elementos in le agenda "{ $targetCalendar }"
    }
# $targetCalendar (string) - name of the calendar that will be created
calendar-summary-description = Un nove agenda appellate "{ $targetCalendar }" sera create.

## Import dialog

# $progressPercent (string) - percent formatted progress (for example "10%")
progress-pane-importing2 = Importation de… { $progressPercent }
# $progressPercent (string) - percent formatted progress (for example "10%")
progress-pane-exporting2 = Exportante… { $progressPercent }
progress-pane-finished-desc2 = Complete.
error-pane-title = Error
error-message-zip-file-too-big2 = Le file zip seligite, es major de 2GB. In vice abstrahe lo antea primo, postea importa lo ab le plicas extrahite.
error-message-extract-zip-file-failed2 = Impossibile extraher le file zip. In vice extrahe lo manualmente, pois importa lo ab le plica extrahite.
error-message-failed = Le importation falleva inspectatemente, Altere informationes pote esser disponibile in le Consola de error.
error-failed-to-parse-ics-file = Elemento non importabile trovate in le file.
error-export-failed = Le exportation falleva inspectatemente, altere informationes pote esser disponibile in le Consola de error.
error-message-no-profile = Nulle profilo trovate.

## <csv-field-map> element

csv-first-row-contains-headers = Le prime rango contine le nomine de campos
csv-source-field = Campo fonte
csv-source-first-record = Prime registration
csv-source-second-record = Secunde registration
csv-target-field = Campo del libro de adresses

## Export tab

export-profile-title = Exportar contos, messages, libros de adresses e parametros a in un file ZIP.
export-profile-description = Si tu actual profilo es major de 2GB, nos te suggere de reservar lo tu mesme.
export-open-profile-folder = Aperir le plica del profilo
export-file-picker2 = Exportar a in un file ZIP
export-brand-name = { -brand-product-name }

## Summary pane

summary-pane-title = Datos a importar
summary-pane-start = Initia importar
summary-pane-warning = { -brand-product-name } debera esser reinitiate quando le importation sera complete.
summary-pane-start-over = Reinitiar le instrumento de importation

## Footer area

footer-help = Require adjuta?
footer-import-documentation = Importar le documentation
footer-export-documentation = Exportar le documentation
footer-support-forum = Foro de supporto

## Step navigation on top of the wizard pages

step-list =
    .aria-label = Passos de importation
step-confirm = Confirmar
# Variables:
# $number (number) - step number
step-count = { $number }
