# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.


## Header lists

message-header-to-list-name = Nori
message-header-from-list-name = Nork
message-header-sender-list-name = Bidaltzailea
message-header-reply-to-list-name = Erantzun honi
message-header-cc-list-name = Cc
message-header-bcc-list-name = Bcc
message-header-newsgroups-list-name = Berri-taldeak
message-header-tags-list-name = Etiketak

## Other message headers.
## The field-separator is for screen readers to separate the field name from the field value.

message-header-author-field = Egilea<span data-l10n-name="field-separator">:</span>
message-header-organization-field = Erakundea<span data-l10n-name="field-separator">:</span>
message-header-subject-field = Gaia<span data-l10n-name="field-separator">:</span>
message-header-followup-to-field = Jarraitu honi<span data-l10n-name="field-separator">:</span>
message-header-date-field = Data<span data-l10n-name="field-separator">:</span>
message-header-user-agent-field = Erabiltzaile-agentea<span data-l10n-name="field-separator">:</span>
message-header-references-field = Erreferentziak<span data-l10n-name="field-separator">:</span>
message-header-message-id-field = Mezuaren ID<span data-l10n-name="field-separator">:</span>
message-header-in-reply-to-field = Honi erantzunez<span data-l10n-name="field-separator">:</span>
message-header-website-field = Webgunea<span data-l10n-name="field-separator">:</span>
# An additional email header field that the user has chosen to display. Unlike
# the other headers, the name of this header is not expected to be localised
# because it is generated from the raw field name found in the email header.
#   $fieldName (String) - The field name.
message-header-custom-field = { $fieldName }<span data-l10n-name="field-separator">:</span>

##

message-header-address-in-address-book-icon2 =
    .alt = Helbide-liburuan
message-header-address-not-in-address-book-icon2 =
    .alt = Helbide-liburutik at
message-header-address-not-in-address-book-button =
    .title = Gorde helbide hau helbide-liburuan
message-header-address-in-address-book-button =
    .title = Editatu kontaktua
message-header-field-show-more = Gehiago
    .title = Erakutsi partaide guztiak
message-ids-field-show-all = Erakutsi denak
