# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.


## Header lists

message-header-to-list-name = Komu
message-header-from-list-name = Wót
message-header-sender-list-name = Wótpósłaŕ
message-header-reply-to-list-name = Wótegroniś na
message-header-cc-list-name = Kopija
message-header-bcc-list-name = Schowana kopija
message-header-newsgroups-list-name = Diskusijne kupki
message-header-tags-list-name = Wobznamjenja

## Other message headers.
## The field-separator is for screen readers to separate the field name from the field value.

message-header-author-field = Awtor<span data-l10n-name="field-separator">:</span>
message-header-organization-field = Organizacija<span data-l10n-name="field-separator">:</span>
message-header-subject-field = Tema<span data-l10n-name="field-separator">:</span>
message-header-followup-to-field = Dalejpósrědnjenje do<span data-l10n-name="field-separator">:</span>
message-header-date-field = Datum<span data-l10n-name="field-separator">:</span>
message-header-user-agent-field = Useragent<span data-l10n-name="field-separator">:</span>
message-header-references-field = Reference<span data-l10n-name="field-separator">:</span>
message-header-message-id-field = Powěsćowy ID<span data-l10n-name="field-separator">:</span>
message-header-in-reply-to-field = Ako wótegrono na<span data-l10n-name="field-separator">:</span>
message-header-website-field = Websedło<span data-l10n-name="field-separator">:</span>
# An additional email header field that the user has chosen to display. Unlike
# the other headers, the name of this header is not expected to be localised
# because it is generated from the raw field name found in the email header.
#   $fieldName (String) - The field name.
message-header-custom-field = { $fieldName }<span data-l10n-name="field-separator">:</span>

##

message-header-address-in-address-book-icon2 =
    .alt = W adresniku
message-header-address-not-in-address-book-icon2 =
    .alt = Nic w adresniku
message-header-address-not-in-address-book-button =
    .title = Toś tu adresu w adresniku składowaś
message-header-address-in-address-book-button =
    .title = Kontakt wobźěłaś
message-header-field-show-more = Wěcej
    .title = Wšykne dostawarje pokazaś
message-ids-field-show-all = Wšykne pokazaś
