# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

privatebrowsingpage-open-private-window-label = Priwatne wokno wočinić
    .accesskey = P
about-private-browsing-search-placeholder = Web přepytać
about-private-browsing-info-title = Sće w priwatnym woknje
about-private-browsing-search-btn =
    .title = Web přepytać
# Variables
#  $engine (String): the name of the user's default search engine
about-private-browsing-handoff =
    .title = Pytajće z { $engine } abo zapodajće adresu
about-private-browsing-handoff-no-engine =
    .title = Pytać abo adresu zapodać
# Variables
#  $engine (String): the name of the user's default search engine
about-private-browsing-handoff-text = Pytajće z { $engine } abo zapodajće adresu
about-private-browsing-handoff-text-no-engine = Pytać abo adresu zapodać
about-private-browsing-not-private = Tuchwilu njejsće w priwatnym woknje.
about-private-browsing-info-description-private-window = Priwatne wokno: { -brand-short-name } wašu pytansku a přehladowansku historiju zhaša, hdyž wšě priwatne wokna začinjeće.  Přez to njebudźeće anonymny.
about-private-browsing-info-description-simplified = { -brand-short-name } wašu pytansku a přehladowansku historiju zhaša, hdyž wšě priwatne wokna začinjeće, ale přez to njebudźeće anonymny.
about-private-browsing-learn-more-link = Dalše informacije

about-private-browsing-hide-activity = Schowajće swoju aktiwitu a stejnišćo, hdźežkuli wobhladowak wužiwaće
about-private-browsing-get-privacy = Wobstarajće sej škit priwatnosće wšudźe, hdźež přehladujeće
about-private-browsing-hide-activity-1 = Schowajće přehladowansku aktiwitu a stejnišćo z { -mozilla-vpn-brand-name }. Z jednym kliknjenjom wutworiće zwisk, samo w zjawnym WLAN:
about-private-browsing-prominent-cta = Škitajće swoju priwatnosć z { -mozilla-vpn-brand-name }

about-private-browsing-focus-promo-cta = { -focus-brand-name } sćahnyć
about-private-browsing-focus-promo-header = { -focus-brand-name }: Priwatny modus po puću
about-private-browsing-focus-promo-text = Naše mobilne, za priwatny modus myslene nałoženje wašu historiju a placki kóždy čas prózdni.

## The following strings will be used for experiments in Fx99 and Fx100

about-private-browsing-focus-promo-header-b = Přinjesće priwatne přehladowanje na swój telefon
about-private-browsing-focus-promo-text-b = Wužiwajće { -focus-brand-name } za te priwatne pytanja, kotrež nima waš hłowny mobilny wobhladowak widźeć.
about-private-browsing-focus-promo-header-c = Priwatnosć přichodneho schodźenka za mobilne graty
about-private-browsing-focus-promo-text-c = { -focus-brand-name } wašu historiju kóždy raz zhaša, hdyž wabjenje a přesćěhowaki blokujeće.

# This string is the title for the banner for search engine selection
# in a private window.
# Variables:
#   $engineName (String) - The engine name that will currently be used for the private window.
about-private-browsing-search-banner-title = { $engineName } je waša standardna pytawa w priwatnych woknach
about-private-browsing-search-banner-description =
    { PLATFORM() ->
        [windows] Zo byšće druhu pytawu wubrał, dźiće k <a data-l10n-name="link-options">nastajenjam</a>
       *[other] Zo byšće druhu pytawu wubrał, dźiće k <a data-l10n-name="link-options">nastajenjam</a>
    }
about-private-browsing-search-banner-close-button =
    .aria-label = Začinić

about-private-browsing-promo-close-button =
    .title = Začinić
