# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

privatebrowsingpage-open-private-window-label = Eike Window ovetã Ñemíme
    .accesskey = P
about-private-browsing-search-placeholder = Eheka ñandutípe
about-private-browsing-info-title = Eikehína ovetã ñemíme
about-private-browsing-search-btn =
    .title = Eheka ñandutípe
# Variables
#  $engine (String): the name of the user's default search engine
about-private-browsing-handoff =
    .title = Eheka { $engine } ndive térã emoinge kundaharape
about-private-browsing-handoff-no-engine =
    .title = Eheka térã ehai kundaharape
# Variables
#  $engine (String): the name of the user's default search engine
about-private-browsing-handoff-text = Eheka { $engine } ndive térã emoinge kundaharape
about-private-browsing-handoff-text-no-engine = Eheka térã ehai kundaharape
about-private-browsing-not-private = Ko’ag̃aite nereiméi peteĩ ovetã ñemíme.
about-private-browsing-info-description-private-window = Ovetã ñemiguáva { -brand-short-name } ombogue jeheka rembiasakue ha ñeikundaha embotypa vove opaite ovetã ñemiguáva. Kóva noñomíri apoharépe.
about-private-browsing-info-description-simplified = { -brand-short-name } ombogue jeheka rembiasakue ha ñeikundaha embotypávo ovetãnguéra ñemigua, hákatu kóva noñomíri apoharépe.
about-private-browsing-learn-more-link = Kuaave

about-private-browsing-hide-activity = Eñomi tembiapo ha tendaite, oimeraẽva tenda eikundahahápe
about-private-browsing-get-privacy = Erekóke ñemigua ñemo’ã eikundaha vove
about-private-browsing-hide-activity-1 = Eñomi ñeikundaha rapykuere ha tendaite { -mozilla-vpn-brand-name } ndive. Eikutúvo emoheñóita jeike katu, oĩhápe Wi-Fi opavave oipurukuaáva.
about-private-browsing-prominent-cta = Eiko tekoñemíme { -mozilla-vpn-brand-name } ndive

about-private-browsing-focus-promo-cta = Emboguejy { -focus-brand-name }
about-private-browsing-focus-promo-header = { -focus-brand-name }: Ñeikundaha ñemi pya’eháicha
about-private-browsing-focus-promo-text = Ore pumbyry rembipuru’i rojapóva oñeikundaha ñemi hag̃ua ombogue ijehegui tembiasakue ha kookie.

## The following strings will be used for experiments in Fx99 and Fx100

about-private-browsing-focus-promo-header-b = Eguerova kundahára ñemi ne pumbyrýpe
about-private-browsing-focus-promo-text-b = Eipuru { -focus-brand-name } jeheka ñemiguarã epota’ỹva ohecha ne kundahára pumburygua eipuruvéva.
about-private-browsing-focus-promo-header-c = Tekoñemi tenondeve gotyo pumbyrýpe
about-private-browsing-focus-promo-text-c = { -focus-brand-name } ombogue ne rembiasakue omboykévo maranduñemurã térã tapykuehoha.

# This string is the title for the banner for search engine selection
# in a private window.
# Variables:
#   $engineName (String) - The engine name that will currently be used for the private window.
about-private-browsing-search-banner-title = { $engineName } ha’e jehekaha mongu’eha ijypykuéva ovetã ñemíme
about-private-browsing-search-banner-description =
    { PLATFORM() ->
        [windows] Eiporavo hag̃ua jeheka mongu’eha ambuéva, tereho <a data-l10n-name="link-options">Jeporavorã</a>
       *[other] Eiporavo hag̃ua jeheka mongu’eha ambuéva, tereho <a data-l10n-name="link-options">Jerohoryvéva</a>
    }
about-private-browsing-search-banner-close-button =
    .aria-label = Mboty

about-private-browsing-promo-close-button =
    .title = Mboty
