# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

fxa-pair-device-dialog =
    .title = Ühenda teine seade
    .style = width: 26em; min-height: 35em;

fxa-qrcode-heading-step1 = 1. Kui sa pole seda veel teinud, siis paigalda <a data-l10n-name="connect-another-device">Firefox oma mobiilsele seadmele</a>.

fxa-qrcode-heading-step2 = 2. Ava Firefox oma mobiilses seadmes.

fxa-qrcode-heading-step3 = 3. Ava <b>menüü</b> (<img data-l10n-name="ios-menu-icon"/> või <img data-l10n-name="android-menu-icon"/>), puuduta <img data-l10n-name="settings-icon"/><b>Sätted</b> ja seejärel vali <b>Lülita Sync sisse</b>

fxa-qrcode-heading-step4 = 4. Skanni see kood:

fxa-qrcode-error-title = Paaristamine ebaõnnestus.

fxa-qrcode-error-body = Proovi uuesti.
